<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$customer_type_id = $customerSession->getCustomer()->getTypeId();
$npl = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('customertype/customer_contact_type/npl');
$am = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('customertype/customer_contact_type/am');
echo $block->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('brands')->toHtml();
$helper = $this->helper('Nwuae\Customer\Helper\Data');
$customer = $helper->_getCustomer();
$customerID = $customer->getId();
    $customerType = $customer->getTypeId();
?>
<script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){ 
        $(document).ready(function($) {
        var type_id = '<?php echo $customer_type_id; ?>';
        var ctypeId = '<?php echo $customerID; ?>';
        var typeId = '<?php echo $customerType; ?>';
        console.log(typeId);
        var npl = '<?php echo $npl; ?>';
        var am = '<?php echo $am; ?>';
        if(type_id == 1){
            $(".pure-life").hide();
        }else if(type_id == 2){
            $(".al-manha").hide();
        }
        }); 
    });
</script>

<?php if($customerSession->isLoggedIn()){ ?>
    <script type="text/javascript">
        require([ 'jquery', 'jquery/ui'], function($){
            $(document).ready(function($) {
                $(".commercial-customer").hide();
            });
        });
    </script>
<?php }else{ ?>
    <script type="text/javascript">
        require([ 'jquery', 'jquery/ui'], function($){
            $(document).ready(function($) {
                $(".commercial-customer").show();
            });
        });
    </script>
<?php } ?>
