<style>
    .quick-selected
    {
        background: #0e4194;
    }
    .selected-frequency{
        background-color:#0e4194;
    }
</style>
<?php
if ($block->getCurrentCategory() == $block->getMappedCategory()) {
    ?>
    <div class="quickshop-box"><div class="container">
    <h4 id="step1"><?php echo __("Step 1"); ?></h4>
    <h2 id="step1-heading"><?php echo __("Choose your Water Brand"); ?></h2>
    <div id="ajaxresponse">
        <?php
            $_productCollection = $block->getLoadedProductCollection();
            // @codingStandardsIgnoreStart
            $_helper = $this->helper(Magento\Catalog\Helper\Output::class);
            // @codingStandardsIgnoreEnd
            $cat_id = $block->getCurrentCategory();

        if ($block->getCurrentCategory() == $block->getMappedCategory()) {
            // @codingStandardsIgnoreStart
            $ConfigHelper = $this->helper(Nwuae\QuickShop\Helper\Data::class);
            // @codingStandardsIgnoreEnd
            $getMappedCategory = $ConfigHelper->getCategoryConfig('enable1');
            $blockObj= $block->getLayout()->createBlock('Nwuae\QuickShop\Block\CustomOptions');
            $getChildCategories = $blockObj->getSubCategories($cat_id);
            $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
            $customerLogin = $objectManager->create('\Magento\Customer\Model\SessionFactory')->create();
            $eavAttribute = $objectManager->create('\Magento\Eav\Model\ResourceModel\Entity\Attribute');
            $Attribute = $objectManager->create('\Magento\Eav\Model\Entity\Attribute');
            ?>
                <input type="hidden" id="current-product-id"  />
                <input type="hidden" id="current-product-sku"  />
                <input type="hidden" id="current-product-optionid"  />
                <input type="hidden" id="current-product-optionvalue"  />
                <input type="hidden" id="current-product-qty"  />
                <div class="products wrapper grid products-grid">
                    <ol class="products list items product-items">
                <?php
                foreach ($getChildCategories as $subCategory) {
                    ?>
                        <li class="item product product-item">
                        <?php
                        $getProductcollection = $blockObj->getCategoryProduct($subCategory->getId());
                           
                        foreach ($getProductcollection as $product): ?>
                            <?php
                            if ($customerLogin->isLoggedIn() && $customerLogin->getCustomer()->getTypeId()) {
                                $customerTypeId = '';
                                $customerTypeId = $customerLogin->getCustomer()->getTypeId();
                                /*OLD Condition*/
                                //if ($customerTypeId == $product->getData('customer_types') || $customerTypeId == '0') { 
                                if ($customerTypeId == $product->getData('customer_types') || $product->getData('customer_types') == 0) { ?>
                                        <div class="product-item-info" data-container="product-grid" >
                                            <a href="javascript:void(0);" class="product photo product-item-photo" tabindex="-1" data-sku="<?php echo $product->getSku(); ?>" data-productid="<?php echo $product->getId(); ?>">
                                                <img alt="<?= /* @noEscape */ $subCategory->getName(); ?>" for="product-image" src="<?php  echo $subCategory->getImageUrl(); ?>" />
                                                <label for="product-name"><?= /* @noEscape */ $subCategory->getName(); ?></label>
                                                <label for="product-price">
                                                    <?php echo number_format((float)strval($product->getPriceInfo()->getPrice('final_price')->getAmount()), 2, '.', ''); ?></label>
                                            </a>
                                        </div>
                                    <?php } ?>
                                <?php } else { ?>
                                    <div class="product-item-info" data-container="product-grid" >
                                        <a href="javascript:void(0);" class="product photo product-item-photo" tabindex="-1" data-sku="<?php echo $product->getSku(); ?>" data-productid="<?php echo $product->getId(); ?>">
                                            <img alt="<?= /* @noEscape */ $subCategory->getName(); ?>" for="product-image" src="<?php  echo $subCategory->getImageUrl(); ?>" />
                                            <label for="product-name"><?= /* @noEscape */ $subCategory->getName(); ?></label>
                                            <label for="product-price"><?php
                                            echo number_format((float)strval($product->getPriceInfo()->getPrice('final_price')->getAmount()), 2, '.', ''); ?></label>
                                            
                                        </a>
                                    </div>
                                <?php }
                                ?>    
                            
                            <?php
                            break;
                            endforeach;?>
                        </li>
                        <?php
                }
                ?>
                    </ol>
                </div>
                <?php
        }
        ?>
    </div>
    <div id="ajaxresponse1">
    </div>
    <div id="ajaxresponse2">
    </div>
    <!-- Horizontal Steppers -->
    <div class="three-stapes"><div class="row">
        <div class="col-md-12">

            <!-- Stepers Wrapper -->
            <ul class="stepper stepper-horizontal">

                <!-- First Step -->
                <li class="step1 active">
                    <a href="#!">
                        <span class="circle">1</span>
                        <span class="label"><?php echo __("Water Brand"); ?></span>
                        <div class="brand-box-add" style="display: none;">
                            <div class="brand-logo">
                                <img src="" class="brand-img">
                            </div>
                            <div class="brand-dis">
                                <h5 class="brand-name"></h5>
                                <span class="price-box">AED 10.50</span>
                            </div>
                        </div>
                    </a>
                </li>

                <!-- Second Step -->
                <li class="step2">
                    <a href="#!">
                        <span class="circle">2</span>
                        <span class="label"><?php echo __("Delivery Frequency"); ?></span>
                        <div class="delivery-box-add" style="display: none;">
                            <div class="delivery-logo">
                                <img src="">
                            </div>
                            <div class="brand-dis">
                                <h5 class="delivery-name"></h5>
                            </div>
                        </div>
                    </a>
                </li>

                <!-- Third Step -->
                <li class="step3">
                    <a href="#!">
                        <span class="circle">3</span>
                        <span class="label"><?php echo __("Water Quantity"); ?></span>
                    </a>
                </li>

            </ul>
            <!-- /.Stepers Wrapper -->
            <input type="hidden" id="current-step" value="1" />
            <button id="continue"><?php echo __("Continue"); ?></button>
        </div>

    </div></div>
    </div></div>
    <!-- /.Horizontal Steppers -->
    <script>
        require(
            [
                'jquery'
            ],
            function(
                $
            ) {

                $( document ).ready(function() {
                    $('#current-step').val(1);
                    $('.step1').addClass("active");
                    $('#maincontent').hide();
                    $('.columns').hide();
                    $('.breadcrumbs').hide();
                });

                $(".step1").on('click',function(){
                    $('.column').hide();
                    $('#step1').show();
                    $('#step1-heading').show();
                    $('#ajaxresponse').show();
                    $('#ajaxresponse1').hide();
                    $('#ajaxresponse2').hide();
                    $('.step2').removeClass('active');
                    $('.step2').removeClass('completed');
                    $('.step3').removeClass('active');
                    $('.step3').removeClass('completed');

                    $('.brand-box-add').hide();
                    $('#current-step').val(1);
                    $('.delivery-box-add').hide();

                });
                $(".step2").on('click',function(){
                    if($(".product-item-photo").hasClass("quick-selected"))
                    {
                        $('.column').hide();
                        $('#ajaxresponse2').hide();
                        $('.delivery-box-add').hide();
                        $('.step3').removeClass('active');
                        $('.step3').removeClass('completed');

                        $('.frequency').show();
                        let current_product_sku = $('#current-product-sku').val();

                        $('#current-step').val(2);
                        
                        ajaxFetchProductCustom(current_product_sku);
                    }
                    

                });

                $("#continue").on('click',function(){

                    let current_step = $('#current-step').val();

                    if(current_step == 1)
                    {
                        if($(".product-item-photo").hasClass("quick-selected"))
                        {
                            $('.column').hide();

                            $('.frequency').show();
                            let current_product_sku = $('#current-product-sku').val();


                            $('#current-step').val(2);
                            
                            ajaxFetchProductCustom(current_product_sku);
                        }
                        else
                        {
                            alert("Please select atleast one product");
                        }

                    }
                    else if(current_step == 2)
                    {
                        if($(".optionsecoptions").hasClass("selected-frequency")) {

                            let current_product_sku = $('#current-product-sku').val();

                            $('#current-step').val(3);
                            let optionid = $('.selected-frequency').data('optionid');
                            $('#current-product-optionid').val(optionid);

                            let optionvalue = $('.selected-frequency').data('optionvalue');
                            $('#current-product-optionvalue').val(optionvalue);
                            ajaxFetchProductQty(current_product_sku);
                        }
                        else
                        {
                            alert("Please select atleast one frequency option");
                        }
                    }
                    else if(current_step == 3)
                    {
                        //Add to cart

                        if($('.cc-result').val() > 0)
                        {
                            let prod_id = $('#current-product-id').val();
                            let optionid = $('#current-product-optionid').val();
                            let optionvalue = $('#current-product-optionvalue').val();
                            let qty = $('#current-product-qty').val();
                            ajaxAddToCart(prod_id,optionid,optionvalue,qty);
                        }
                        else
                        {
                            alert("Please choose qty");
                        }

                    }

                });

                $('.product-item-photo').click(function(e) {
                    event.preventDefault();
                    $(".product-item-photo").removeClass("quick-selected active");
                    $('.product-item-info').removeClass('active');
                    $(this).parent().addClass('active');
                    $(this).addClass("quick-selected active");
                    let current_product_sku = $(this).data('sku');
                    $('#current-product-sku').val(current_product_sku);
                    
                    let current_product_id = $(this).data('productid');
                    $('#current-product-id').val(current_product_id);

                });

                function ajaxFetchProductCustom(current_product_sku)
                {
                    var customurl = "<?php echo $block->getUrl() . 'fetchajaxproduct/index/index'?>";
                    setTimeout(function(){
                        $.ajax({
                            context: '#ajaxresponse1',
                            url: customurl,
                            type: "POST",
                            data: {current_product_sku: current_product_sku},
                            showLoader: true,
                        }).done(function (data) {
                            $('#step1').hide();
                            $('#step1-heading').hide();
                            $('#ajaxresponse').hide();
                            $('#maincontent').hide();
                            $('#ajaxresponse1').show(); //
                            $('#ajaxresponse1').html(data.output);
                            step2();
                            return true;
                        });
                    },2000);
                }

                function step2()
                {
                    $("#frequency").delegate("div","click",function(e){
                        $("#frequency .selected-frequency").removeClass("selected-frequency");
                        $(this).addClass("selected-frequency");
                    });
                    $('.step1').addClass("completed");
                    $('.step2').addClass("active");
                    //
                    $('.brand-box-add').show();
                    $('.brand-name').text($(".quick-selected").find("label[for =product-name]").text());
                    $('.price-box').text($(".quick-selected").find("label[for =product-price]").text());
                    var selected_img = $(".quick-selected").find("img[for =product-image]").attr('src');
                    $(".brand-img").attr("src",selected_img);
                }

                function ajaxFetchProductQty(current_product_sku)
                {
                    var customurl = "<?php echo $block->getUrl() . 'fetchajaxproductqty/index/productquantity'?>";
                    setTimeout(function(){
                        $.ajax({
                            context: '#ajaxresponse2',
                            url: customurl,
                            type: "POST",
                            data: {current_product_sku: current_product_sku},
                            showLoader: true,
                        }).done(function (data) {
                            //
                            $('.delivery-box-add').show();
                            $('.delivery-name').html('Monthly <span class="delivery-date">'+$('.selected-frequency').text()+'</span>');
                            var selected_fre_trim = $('.selected-frequency').text();
                            $('.delivery-logo').addClass('day-icon-'+selected_fre_trim.replace(/\s/g, ''));
                            
                            $('#ajaxresponse1').hide();
                            $('#ajaxresponse2').show();

                            $('#ajaxresponse2').html(data.output);
                            step3();
                            return true;
                        });
                    },2000);
                }

                function ajaxAddToCart(current_product_sku,optionid,optionvalue,qty)
                {
                    var customurl = "<?php echo $block->getUrl() . 'ajaxaddtocart/index/productcart1'?>";
                    setTimeout(function(){
                        $.ajax({
                            context: '#ajaxresponse1',
                            url: customurl,
                            type: "POST",
                            data: {
                                current_product_sku: current_product_sku,
                                optionid : optionid,
                                optionvalue : optionvalue,
                                qty : qty
                            },
                        }).done(function (data) {
                            $('#ajaxresponse1').html(data.output);
                            window.location.href = "checkout/cart/";
                            return true;
                        });
                    },2000);
                }

                function step3()
                {
                    var cc = jQuery('#cc-container');
                    var cc_change_field = function(field, offset) {
                        var result = parseInt(field.val()) + offset;
                        if (result >= 0) {
                            field.val(result);
                        }
                        cc_calculate();
                    }
                    var cc_calculate = function() {
                        var result = 0;
                        cc.find('.cc-value').each(function(){
                            result += parseInt(jQuery(this).val()) * jQuery(this).data('glasses') * cc.data('glass-capacity');
                        });
                        //alert(result);
                        cc.find('.cc-result').val(Math.ceil(result * 7 / cc.data('bottle-capacity')));
                        $('#current-product-qty').val(Math.ceil(result * 7 / cc.data('bottle-capacity')));
                    }

                    cc.on('click', '.cc-plus', function(){
                        cc_change_field(jQuery(this).parent().find('.cc-value'), 1);
                    });
                    cc.on('click', '.cc-minus', function(){
                        cc_change_field(jQuery(this).parent().find('.cc-value'), -1);
                    });
                    cc.on('blur', '.cc-value', function(){
                        if (!jQuery.isNumeric(jQuery(this).val()) || parseInt(jQuery(this).val()) < 0) {
                            jQuery(this).val(0);
                        }
                        cc_calculate();
                    });
                    cc.on('change', '.cc-result', function(){
                         if (!jQuery.isNumeric(jQuery(this).val()) || parseInt(jQuery(this).val()) < 0) {
                            jQuery('.cc-value').val(0);
                        } else {
                            cc.find('.cc-result').val(jQuery(this).val());
                            $('#current-product-qty').val(jQuery(this).val());
                        }
                        
                    });
                    $('.step2').addClass("completed");
                    $('.step3').addClass("active");
                }
            }
        );
    </script>
    <?php
}
