	/*
  	Flaticon icon font: Flaticon
  	Creation date: 11/03/2020 06:04
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("../fonts/Flaticon.eot");
  src: url("../fonts/Flaticon.eot?#iefix") format("embedded-opentype"),
       url("../fonts/Flaticon.woff2") format("woff2"),
       url("../fonts/Flaticon.woff") format("woff"),
       url("../fonts/Flaticon.ttf") format("truetype"),
       url("../fonts/Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-call:before { content: "\f100"; }
.flaticon-world:before { content: "\f101"; }
.flaticon-user:before { content: "\f102"; }
.flaticon-shopping-cart:before { content: "\f103"; }
.flaticon-order:before { content: "\f104"; }
.flaticon-truck:before { content: "\f105"; }
.flaticon-right-arrow:before { content: "\f106"; }
.flaticon-left-arrow:before { content: "\f107"; }
.flaticon-facebook:before { content: "\f108"; }