@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6tjs7u');
  src:  url('../fonts/icomoon.eot?6tjs7u#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?6tjs7u') format('truetype'),
    url('../fonts/icomoon.woff?6tjs7u') format('woff'),
    url('../fonts/icomoon.svg?6tjs7u#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-days-01:before {
  content: "\e900";
  
}
.icon-days-011:before {
  content: "\e901";
  
}
.icon-days-012:before {
  content: "\e902";
  
}
.icon-additional-delivery-icon:before {
  content: "\e903";
 
}
.icon-adult-01:before {
  content: "\e904";
  
}
.icon-build-your-order-01:before {
  content: "\e905";
  
}
.icon-cancelled-order-icon:before {
  content: "\e906";
 
}
.icon-cash-on-delivery-01:before {
  content: "\e907";
  
}
.icon-create-your-account-01:before {
  content: "\e908";
  
}
.icon-delivery-notes-01:before {
  content: "\e909";
  
}
.icon-email-01:before {
  content: "\e90a";
  
}
.icon-invoic-01:before {
  content: "\e90b";
  
}
.icon-kids-01:before {
  content: "\e90c";
  
}
.icon-phone-01:before {
  content: "\e90d";
  
}
.icon-purest-water-01:before {
  content: "\e90e";
  
}
.icon-receipts-01:before {
  content: "\e90f";
  
}
.icon-regular-delivery-icon:before {
  content: "\e910";
 
}
.icon-reorder-01:before {
  content: "\e911";
  
}
.icon-sanitization-service-icon:before {
  content: "\e912";
 
}
.icon-secure-payments-01:before {
  content: "\e913";
  
}
.icon-technical-intervention-icon:before {
  content: "\e914";
 
}
.icon-truck-01-01:before {
  content: "\e915";
  
}
.icon-truck-icon-01:before {
  content: "\e916";
  
}
.icon-true-01:before {
  content: "\e917";
  
}
.icon-view-01:before {
  content: "\e918";
  
}
.icon-whatsapp-01:before {
  content: "\e919";
}
