<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
// phpcs:disable Generic.WhiteSpace.ScopeIndent.Incorrect

/* @var $block \Magento\Catalog\Block\Product\AbstractProduct */

use Magento\Framework\App\Action\Action;

$_helper = $this->helper(Magento\Catalog\Helper\Output::class);
$mode = 'carousel';

$showWishlist = true;
$showCompare = false;
$templateType = \Magento\Catalog\Block\Product\ReviewRendererInterface::DEFAULT_VIEW;

/** @var \Magento\Catalog\Block\Product\ProductList\Related $block */

            $type = 'related';
            $class = $type;

            $image = 'related_products_list';
            $title = __('Related Products');
            $items = $block->getItems();
            $limit = 5;
            $shuffle = 0;
            $canItemsAddToCart = true;

            $showAddTo = true;
            $showCart = true;
            $templateType = null;
            $showDescription = true;

?>
<?php if(isset($items)): ?>
    <div class="block widget block-products-list <?php /* @noEscape */ echo $mode; ?>">
        <div class="block-title title">
            <strong id="block-<?= $block->escapeHtmlAttr($class) ?>-heading" role="heading" aria-level="2"><?=$block->escapeHtml(__('Customers who viewed this item also viewed')) ?></strong>
        </div>
        <div class="block-content">

            <?php /* @noEscape */ echo '<!-- ' . $image . '-->' ?>
            <div class="products-<?php /* @noEscape */ echo $mode; ?> <?php /* @noEscape */ echo $mode; ?>">
                <ol class="home_carousel owl-carousel owl-theme product-items <?php /* @noEscape */ echo $type; ?>">
                    <?php $iterator = 1; ?>
                    <?php foreach ($items as $_item):
                        ?>
                    <?php if ($iterator++ != 1): ?></li><?php endif ?>
                    <li class="item product product-item">
                        <div class="product-item-info related-available">
                            <?= /* @noEscape */ '<!-- ' . $image . '-->' ?>
                            <a href="<?= $block->escapeUrl($_item->getProductUrl()) ?>" class="product photo product-item-photo">
                                <?= $block->getImage($_item, $image)->toHtml() ?>
                            </a>
                        </div>
                        
                        <div class="product details product-item-details">
                            <strong class="product name product-item-name"><a class="product-item-link" title="<?= $block->escapeHtmlAttr($_item->getName()) ?>" href="<?= $block->escapeUrl($_item->getProductUrl()) ?>">
                                    <?= $block->escapeHtml($_item->getName()) ?></a>
                            </strong>
                             <?php if ($showDescription):?>
                            <div class="product description product-item-description">
                                <?= /* @noEscape */ $_helper->productAttribute($_item, $_item->getShortDescription(), 'short_description') ?>
                                
                            </div>
                        <?php endif; ?>
                            <?= /* @noEscape */ $block->getProductPrice($_item) ?>
                             <div class="vat_label"><?= $block->escapeHtml(__('(INCLUDING VAT)')) ?></div>

                            <?php if ($templateType): ?>
                                <?php echo $block->getReviewsSummaryHtml($_item, $templateType) ?>
                            <?php endif; ?>

                            <?php if ($showWishlist || $showCompare || $showCart): ?>
                                <div class="product-item-actions">
                                    <?php if ($showCart): ?>
                                        <div class="actions-primary">
                                            <?php if ($_item->isSaleable()): ?>
                                                <?php $postParams = $block->getAddToCartPostParams($_item); ?>
                                                <form data-role="tocart-form"
                                                      data-product-sku="<?= $block->escapeHtmlAttr($_item->getSku()) ?>"
                                                      action="<?= $block->escapeUrl($postParams['action']) ?>"
                                                      method="post">
                                                    <input type="hidden"
                                                           name="product"
                                                           value="<?=  $postParams['data']['product'] ?>">
                                                    <input type="hidden" name="<?=  Action::PARAM_NAME_URL_ENCODED ?>"
                                                           value="<?=  $postParams['data'][Action::PARAM_NAME_URL_ENCODED] ?>">
                                                    <?= $block->getBlockHtml('formkey') ?>

                                                    <div class="qty-wrapper">
                                                        <label for="super_group_<?php echo $_item->getSku(); ?>" class="qty-label"> Qty </label>
                                                        <input id="super_group_<?php echo $_item->getSku(); ?>" type="text" pattern="\d*" name="qty" maxlength="12" value="1" title="Qty" class="input-text qty">
                                                    </div>
                                                    <button type="submit"
                                                            title="<?= $block->escapeHtmlAttr(__('Add')) ?>"
                                                            class="action tocart primary btn-pink">
                                                        <span><?= $block->escapeHtml(__('Add')) ?></span>
                                                    </button>
                                                </form>
                                            <?php else: ?>
                                                <?php if ($_item->getIsSalable()): ?>
                                                    <div class="stock available"><span><?php echo $block->escapeHtml(__('In stock')) ?></span></div>
                                                <?php else: ?>
                                                    <div class="stock unavailable"><span><?php echo $block->escapeHtml(__('Out of stock')) ?></span></div>
                                                <?php endif; ?>
                                            <?php endif; ?>
                                        </div>
                                    <?php endif; ?>
                                    
                                </div>
                            <?php endif; ?>
                        </div>
                        <?php // @codingStandardsIgnoreStart
                         echo($iterator == count($items)+1) ? '</li>' : '' 
                         // @codingStandardsIgnoreEnd
                         ?>
                        <?php endforeach ?>
                </ol>
            </div>
            <?php echo $block->getPagerHtml() ?>
        </div>
    </div>
<?php if ($block->getStoreCode() == 'en'): ?>
    <script>
        /*EN*/
        require(['jquery', 'mageplaza/core/owl.carousel'], function ($) {
            $('.home_carousel').owlCarousel({
                loop: true,
                // margin: 30,
                autoplay: true,
                autoPlaySpeed: 5000,
                autoPlayTimeout: 5000,
                nav: false,
                dots: false,
                responsiveClass: true,
                responsive: {
                    0: {
                        items: 1,
                        nav: false
                    },
                    600: {
                        items: 2,
                        nav: false
                    },
                    800: {
                        items: 3,
                        nav: false
                    },
                    1200: {
                        items: 4,
                        nav: false,
                        loop: true
                    }
                }
            });
        });
    </script>
<?php else: ?>
<script type="text/javascript">
    /*AR*/
        require(['jquery', 'mageplaza/core/owl.carousel'], function ($) {
            $('.home_carousel').owlCarousel({
                loop: true,
                rtl:true,
                // margin: 30,
                autoplay: true,
                autoPlaySpeed: 5000,
                autoPlayTimeout: 5000,
                pagination: true,
                nav: false,
                dots: false,
                responsiveClass: true,
                responsive: {
                  0: {
                    items: 1,
                    nav: false
                  },
                  600: {
                    items: 2,
                    nav: false
                  },
                  800: {
                    items: 3,
                    nav: false
                  },
                  1200: {
                    items: 4,
                    nav: false,
                    loop: true
                  }
                }
              });
        });
</script>
<?php endif; ?>
<?php endif; ?>