<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/**
 * Category left navigation
 *
 * @var $block \Magento\Catalog\Block\Navigation
 */
?>
<?php if (!$block->getCategory()) {
    return;
} ?>
<?php
$helper = $this->helper('Nwuae\Customer\Helper\Data');
$values = $helper->_getCustomer();
?>
<?php $_categories = $block->getCurrentChildCategories() ;?>
<?php $_count = is_array($_categories) ? count($_categories) : $_categories->count(); ?>
<?php if ($_count) :?>
    <div class="block filter">
        <div class="title">
            <strong><?= $block->escapeHtml(__('Browse By')) ?></strong>
        </div>
        <p class="block-subtitle accordion">Filter By</p>
        <div class="content panel">
            <strong class="subtitle"><?= $block->escapeHtml(__('Shopping Options')) ?></strong>
            <dl class="options" id="narrow-by-list2">
                <dt><?= $block->escapeHtml(__('Category')) ?></dt>
                <dd>
                    <ol class="items">
                        <?php /** @var \Magento\Catalog\Model\Category $_category */ ?>
                        <?php foreach ($_categories as $_category) :?>
                            <?php if ($_category->getIsActive()) :?>
                                <?php if($_category->getUrlKey() == 'dispensers' || $_category->getUrlKey() == 'bottles' || $_category->getUrlKey() == 'services') : ?>
                                        <?php if($values->getId() && $values->getTypeId() != 0) : ?>
                                            <li class="item <?php echo $values->getId(); ?>">
                                                <a href="<?= $block->escapeUrl($block->getCategoryUrl($_category)) ?>"
                                                    <?php if ($block->isCategoryActive($_category)) :?>
                                                        class="current"
                                                    <?php endif; ?>
                                                ><?= $block->escapeHtml($_category->getName()) ?></a>
                                                <!-- <span class="count">(<?= $block->escapeHtml($_category->getProductCount()) ?>)</span> -->
                                            </li>
                                        <?php endif; ?>
                                <?php else : ?>
                                    <li class="item">
                                        <a href="<?= $block->escapeUrl($block->getCategoryUrl($_category)) ?>"
                                            <?php if ($block->isCategoryActive($_category)) :?>
                                                class="current"
                                            <?php endif; ?>
                                        ><?= $block->escapeHtml($_category->getName()) ?></a>
                                        <!-- <span class="count">(<?= $block->escapeHtml($_category->getProductCount()) ?>)</span> -->
                                    </li>
                                <?php endif; ?> 
                                
                            <?php endif; ?>
                        <?php endforeach ?>
                    </ol>
                </dd>
            </dl>
        </div>
    </div>
<?php endif; ?>
