<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate
use Magento\Framework\Pricing\Helper\Data; ?>
<div class="block block-balance">
    <div class="block-content">
        <p>
            <span class="balance-label"><?= 'E-Wallet Balance Amount: ' ?></span>
            <?= /* @noEscape */ $this->helper(Magento\Framework\Pricing\Helper\Data::class)->currency($block->getBalance()) ?>
        </p>
    </div>
</div>
