<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
/* @var $block Nwuae\EWallet\Block\EwalletHistory */

// phpcs:disable Magento2.Templates.ThisInTemplate

?>
<?php if ($block->canShow() && $block->getEvents() && count($block->getEvents())) : ?>
    <div class="block block-balance-history">
        <div class="block-title">
            <strong><?= $block->escapeHtml(__('Balance History')) ?></strong>
        </div>
        <h3><?php echo __('Topup') ?></h3>
        <?php if(!empty($block->getTopups())){ ?>
            <ul>
                <?php foreach($block->getTopups() as $singleTopUp){
                    $addToCartUrl =  $block->cartUrl($singleTopUp);?>
                    <li>
                    <form data-role="tocart-form" action="<?php echo $addToCartUrl; ?>" method="post">
                        <?php echo $block->getBlockHtml('formkey')?>
                        <div class="btn">
                            <button type="submit" title="Add to Cart" >
                                <span><?= $singleTopUp['label'] ?></span>
                            </button>
                        </div>
                    </form>
                    </li>
                <?php } ?>
            </ul>
        <?php } ?>
            <div class="block-content">
                <div class="table-wrapper balance-history">
                    <table id="customerbalance-history" class="data table table-balance-history">
                        <caption class="table-caption"><?= $block->escapeHtml(__('Balance History')) ?></caption>
                        <thead>
                        <tr>
                            <th scope="col" class="col date"><?= $block->escapeHtml(__('Transaction Date')) ?></th>
                            <th scope="col" class="col change"><?= $block->escapeHtml(__('Value')) ?></th>
                            <th scope="col" class="col actions"><?= $block->escapeHtml(__('Document Number')) ?></th>
                        </tr>
                        </thead>
                        <tbody>
                            <?php foreach ($block->getProductValue() as $_product) :
                                if(!empty($_product->Value)):
                                    if($_product->Value > 0 ){
                                        $class = 'positive';
                                    }
                                    else{
                                        $class = 'negetive';
                                    }
                                endif;
                            ?>
                                <?php if(!empty($_product->TransactionDate)): ?>
                                    <tr>
                                        <td data-th="<?= $block->escapeHtmlAttr(__('TransactionDate')) ?>" class="col date"><?php /* @noEscape*/ echo date('M d, Y', strtotime($_product->TransactionDate));   ?></td>
                                        <td data-th="<?= $block->escapeHtmlAttr(__('Value')) ?>" class="col change <?= $class ?>"><?= /* @noEscape */ $this->helper(Magento\Framework\Pricing\Helper\Data::class)->currency($_product->Value) ?></td>
                                        <td data-th="<?= $block->escapeHtmlAttr(__('documentNumber')) ?>" class="col actions"><?php echo $_product->documentNumber; ?></td>
                                    </tr>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
<?php endif; ?>
