<!--
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Please confirm your %store_name account" store_name=$store.frontend_name}} @-->
<!--@vars {
"var store.frontend_name":"Store Name",
"var this.getUrl($store,'customer/account/confirm/',[_query:[id:$customer.id,key:$customer.confirmation,back_url:$back_url],_nosid:1])":"Account Confirmation URL",
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<p class="greeting" style="text-transform: capitalize;font-weight: 400;margin: 0;padding: 0;font-size: 36px;color: #0f96dc;margin-top: 0;margin-bottom: 20px;">Dear {{trans "%name," name=$customer.name}}</p>

<table cellpadding="0" cellspacing="0" border="0"><tr><td class="main-content" style="font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;vertical-align:top;background-color:#ffffff;padding:25px;border-radius: 15px;" >
<table cellpadding="0" cellspacing="0" border="0">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td class="action-content">
                        <p>Your email {{var customer.email}} must be confirmed before using it to sign in to our store.</p>
                        <p class="highlighted-text" style="border-radius: 15px;background: #F8F8F8;padding: 15px;margin-bottom: 10px;">
                            Use the following values when prompted to sign in:<br/>
                            <strong>Email:</strong> {{var customer.email}}<br/>
                        </p>
                        <p style="color: #303030">Click below to confirm your email and instantly sign in (the link is valid only once):</p>
                        <table cellspacing="0" cellpadding="0" class="action-button" style="width: 100%; text-align: center;">
                            <tr>
                                <td>
                                    <a style="width: 220px;height: 100%;line-height: 40px;font-size: 15px;display: inline-block;text-decoration: none;background-color: #024B90;border-radius: 20px;color: #fff;text-transform:uppercase" href="{{var this.getUrl($store,'customer/account/confirm/',[_query:[id:$customer.id,key:$customer.confirmation,back_url:$back_url],_nosid:1])}}" target="_blank">{{trans "Confirm Your Account"}}</a>                              
 
                                </td>
                            </tr>
                        </table>
                        <img width="165" height="104" src="{{media url='logo/stores/1/logo.png'}}" alt="{{var logo_alt}}" border="0" />
                        <!-- <p>
                            If you have any questions, please feel free to contact us at
                            <a href="mailto:{{var store_email}}">{{var store_email}}</a>
                            {{depend store_phone}} or by phone at <a href="tel:{{var phone}}">{{config path="general/store_information/phone"}}</a>{{/depend}}.
                        </p> -->
                        <p>If you have any questions, please feel free to contact us at <a href="mailto:service@nestlewaters.ae">service@nestlewaters.ae</a> or by phone at <a href="tel:800 4404">800 4404</a>.</p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</td></tr></table>

{{template config_path="design/email/footer_template"}}
