<?php
/**
 * @category  design
 * @package   nwuae_default
 */
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
/** @var \Nwuae\Customer\Block\Accessories $block */
/* @var $_helper Nwuae\Customer\Helper\Data  */
$_helper = $this->helper('Nwuae\Customer\Helper\Data');
?>
<div class="accessories-coolers">

<!--    -->

    <?php if ($_helper->customerHasOnlyNotActiveAddresses()): ?>
        <h3><?php echo __('You don\'t have active address(es)') ?></h3>
    <?php else: ?>
<!--        <p>--><?php //echo $_helper->getAddressesHtmlSelect() ?><!--</p>-->
        <div class="section-block block">
            <div class="block-title"><strong><?php echo __('Dispensers') ?></strong></div>
                <div id="dispensers-wrap"></div>
                <div id="dispensers-loading" style="display:none;"><img src="<?php echo $block->getViewFileUrl('images/spinner.gif') ?>"></div>
                <div class="link-container">
                    <a class="go-link a-right" title="<?php echo __('Do you want to buy a new dispenser?') ?>" href="<?php echo $block->getUrl('all-products/dispensers') ?>"><?php echo __('Do you want to buy a new dispenser?') ?><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                </div>
        </div>

        <div class="section-block block">
            <div class="block-title"><strong><?php echo __('Accessories') ?></strong></div>
                <div id="accessories-wrap"></div>
                <div id="accessories-loading" style="display:none;"><img src="<?php echo $block->getViewFileUrl('images/spinner.gif') ?>"></div>
                <div class="link-container">
                    <a class="go-link a-right" href="<?php echo $block->getUrl('all-products/services') ?>"><?php echo __('Do you want to buy a New Accessory?') ?><i class="fa fa-chevron-circle-right" aria-hidden="true"></i></a>
                </div>
        </div>
        <div class="section-box">
        <div class="clearfix row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left-access">
                <div class="block">
                    <div class="block-title"><strong><?php echo __('Need Repair or Replacement') ?></strong></div>
                    <div class="access-inner">
                        <!-- accessories_coolers_need_repair_or_replacement static block -->
                        <?php
                        echo $block->getLayout()
                        ->createBlock('Magento\Cms\Block\Block')
                        ->setBlockId('accessories_coolers_need_repair_or_replacement')
                        ->toHtml();
                        ?>
                    </div>
                </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right-access sanitisation" style="display: none">
                <div class="block">
                    <div class="block-title"><strong><?php echo __('Status of Sanitization Service') ?></strong></div>
                    <div class="access-inner">
                        <?php $sanitizationService = $block->getSanitizationService(); ?>
                        <?php if (!empty($sanitizationService)): ?>
                        <p><?php echo __('Current Status of Sanitization Term') ?>: <strong><?php echo ($sanitizationService->Status) ? __('Active') : __('Not Scheduled Yet') ?></strong></p>
                        <p><?php echo __('Next Scheduled Visit') ?>: <strong><?php echo ($sanitizationService->NextSanitizationDate) ? $sanitizationService->NextSanitizationDate : __('Not Scheduled Yet') ?></strong></p>
                        <?php endif; ?>
                        <!-- End of ACW Data -->
                        <!-- accessories_coolers_status_of_sanitization_servicc block -->
                        <?php echo $block->getLayout()
                            ->createBlock('Magento\Cms\Block\Block')
                            ->setBlockId('accessories_coolers_status_of_sanitization_service')
                            ->toHtml(); ?>
                    </div>
                </div>
            </div>

                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 right-access">
                <div class="block">
                    <div class="block-title"><strong><?php echo __('Order Additional Dispenser') ?></strong></div>
                    <div class="access-inner">
                        <p><a title="<?php echo __('Order Additional Dispenser') ?>" href="<?php echo $block->getUrl('all-products/dispensers') ?>"><?php echo __('Order Additional Dispenser') ?></a></p>
                    </div>
                </div>
            </div>
        </div></div>
        <div class="section-box">
        <div class="clearfix row">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 left-access">
                <div class="block">
                    <div class="block-title"><strong><?php echo __('Return Dispenser or Equipment') ?></strong></div>
                    <div class="access-inner">
                        <!-- accessories_coolers_return_dispenser_or_equipment static block -->
                        <?php  echo $block->getLayout()
                            ->createBlock('Magento\Cms\Block\Block')
                            ->setBlockId('accessories_coolers_return_dispenser_or_equipment')
                            ->toHtml(); ?>
                    </div>
                </div>
            </div>
        </div></div>

        <div class="section-block block">
            <div class="block-title"><strong><?php echo __('Manuals') ?></strong></div>
            <div id="manuals-wrap"></div>
            <div id="manuals-loading" style="display:none;"><img src="<?php echo $block->getViewFileUrl('images/spinner.gif') ?>"></div>
        </div>

        <script type="text/javascript">
            require([
                'jquery',
                'accessories'
            ], function ($) {
                $(".accessories-coolers").accessories('<?php echo $block->getDispensersUrl() ?>', '<?php echo $block->getAccessoriesUrl() ?>', '<?php echo $block->getManualsUrl() ?>');
            });
        </script>

    <?php endif; ?>
</div>
