<?php 
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$collection = $objectManager->get('Nwuae\Managelocation\Model\ResourceModel\Cities\Collection');
$collection->addFieldToFilter('main_table.is_active', 1);
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
/** @var \Nwuae\Customer\Block\Business\Form $block */ 
$helper = $this->helper('Nwuae\Customer\Helper\DataHelper');
$phoneCode = $helper->getConfig('customertype/customer_contact_type/phone_code');
?>
<div class="existing-create">
    <div class="page-title">
        <h1><?= $block->escapeHtml(__('Commercial Customers Form for Contact')) ?></h1>
    </div>
      <div class="inner-page-wrapper">
          <h2 class="blue"><?= $block->escapeHtml(__('Welcome!')) ?></h2>

          <p><?= $block->escapeHtml(__('Please, fill out the form below and one of our representatives will contact you to discuss your business hydration needs and delivery options.')) ?></p>
            <div class="large-7 medium-9 small-12">
            <form action="<?php echo $block->getPostActionUrl() ?>" method="post" id="form-validate" class="scaffold-form" data-mage-init='{"validation":{}}'>
                <div class="fieldset">
                    <!-- <input type="hidden" name="success_url" value="<?php echo $block->getSuccessUrl() ?>"/>
                    <input type="hidden" name="error_url" value="<?php echo $block->getErrorUrl() ?>"/> -->

                    <p class="required"><?= $block->escapeHtml(__('* Required Fields')) ?></p>

                    <ul class="form-list">

                        <li class="fields row">
                            <div class="field col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <!-- <label for="first_name" class="required"><em>*</em><?= $block->escapeHtml(__('Enter Contact Person First Name')) ?></label> -->
                                <div class="input-box">
                                    <input type="text" name="first_name" id="first_name"
                                           title="<?= $block->escapeHtml(__('Enter Contact Person First Name')) ?>"
                                           placeholder="* <?= $block->escapeHtml(__('Enter Contact Person First Name')) ?>"
                                           class="input-text required-entry">
                                </div>
                            </div>
                            <div class="field col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <!-- <label for="last_name" class="required"><em>*</em><?= $block->escapeHtml(__('Enter Contact Person Family Name')) ?></label> -->
                                <div class="input-box">
                                    <input type="text" name="last_name" id="last_name"
                                           title="<?= $block->escapeHtml(__('Enter Contact Person Family Name')) ?>"
                                           placeholder="* <?= $block->escapeHtml(__('Enter Contact Person Family Name')) ?>"
                                           class="input-text required-entry">
                                </div>
                            </div>
                        </li>

                        <li class="row">
                            <!-- <label for="company_name" class="required"><em>*</em><?= $block->escapeHtml(__('Company Name')) ?></label> -->
                            <div class="input-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" name="company_name" id="company_name"
                                       title="<?= $block->escapeHtml(__('Company Name')) ?>"
                                       placeholder="* <?= $block->escapeHtml(__('Company Name')) ?>"
                                       class="input-text required-entry">
                            </div>
                        </li>

                        <li class="row">
                            <!-- <label for="address_one" class="required"><em>*</em><?= $block->escapeHtml(__('Enter Address Line 1')) ?></label> -->
                            <div class="input-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="address_one"
                                       id="address_one"
                                       title="<?= $block->escapeHtml(__('Enter Address Line 1')) ?>"
                                       placeholder="* <?= $block->escapeHtml(__('Enter Address Line 1')) ?>"
                                       class="input-text required-entry">
                            </div>
                        </li>

                        <li class="row">
                            <!-- <label for="address_two" class="required"><?= $block->escapeHtml(__('Enter Address Line 2')) ?></label> -->
                            <div class="input-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false" name="address_two"
                                       id="address_two"
                                       title="<?= $block->escapeHtml(__('Enter Address Line 2')) ?>"
                                       placeholder="<?= $block->escapeHtml(__('Enter Address Line 2')) ?>"
                                       class="input-text">
                            </div>
                        </li>

                        <li class="row">
                            <!-- <label for="city" class="required"><em>*</em><?= $block->escapeHtml(__('City')) ?></label> -->
                            <div class="input-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                              <select id="city" name="city" title="City" class="validate-select" autocomplete="off">
                                  <option value="" disabled="" selected="">* <?= $block->escapeHtml(__('City')) ?></option>
                                  <?php  foreach ($collection as $city) { ?>
                                  
                                          <option value="<?php echo $block ->escapeHtml(__($city->getIdentifier())) ?>"><?php echo __($city->getTitle()) ?></option>
                                          <?php  if ($city->getTotalArea() > 0) {
                                              $areasCollection = $objectManager->get('Nwuae\Managelocation\Model\ResourceModel\Areas\Collection');
                                              $areasCollection->addFieldToFilter('city_id', $city->getCityId());
                                              $areasCollection->addFieldToFilter('is_active', 1);
                                              $areasCollection->addFieldToFilter('is_frontend', 1);
                                              if ($city->getCityId() != 3) {
                                                  foreach ($areasCollection as $area) { ?>
                                                  <option value="<?php echo __($area->getIdentifier()) ?>">
                                                      <?php echo __('--- '.$area->getTitle()) ?></option>
                                              
                                              <?php }
                                              }
                                          } ?>
                                  <?php } ?>                          
                              </select>                              
                          </div>
                        </li>

                        <li class="row">
                            <!-- <label for="zip" class="required"><em>*</em><?= $block->escapeHtml(__('Zip/Postal Code')) ?></label> -->
                            <div class="input-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" name="postcode"
                                       title="<?= $block->escapeHtml(__('Zip/Postal Code')) ?>"
                                       placeholder="* <?= $block->escapeHtml(__('Zip/Postal Code')) ?>"
                                       id="zip"
                                       class="input-text validate-zip-international required-entry">
                            </div>
                        </li>

                        <li class="fields row">
                            <div class="field col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                
                                <div class="input-box">
                                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="telephone_one" id="telephone_one"
                                           title="<?= $block->escapeHtml(__('Enter Landline (eg. '.$phoneCode.'46276464)')) ?>"
                                           placeholder="* <?= $block->escapeHtml(__('Enter Landline (eg. '.$phoneCode.'46276464)')) ?>"
                                           class="input-text required-entry validate-number">
                                </div>
                            </div>
                            <div class="field col-lg-6 col-md-6 col-sm-6 col-xs-12">
                               
                                <div class="input-box ">
                                    <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false"
                                           name="telephone_two" id="telephone_two"
                                           title="<?= $block->escapeHtml(__('Enter Landline (eg. '.$phoneCode.'46276464)')) ?>"
                                           placeholder="<?= $block->escapeHtml(__('Enter Landline (eg. '.$phoneCode.'46276464)')) ?>"
                                           class="input-text validate-number">
                                </div>
                            </div>
                        </li>

                        <li class="row">
                          
                            <div class="input-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="text" autocapitalize="off" autocorrect="off" spellcheck="false"
                                       name="mobile" id="mobile"
                                       title="<?= $block->escapeHtml(__('Enter Mobile (eg. '.$phoneCode.'555555555)')) ?>"
                                       placeholder="* <?= $block->escapeHtml(__('Enter Mobile (eg. '.$phoneCode.'555555555)')) ?>"
                                       class="input-text required-entry validate-number">
                            </div>
                        </li>

                        <li class="row">
                           
                            <div class="input-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <input type="email" autocapitalize="off" autocorrect="off" spellcheck="false" name="email"
                                       id="email_address"
                                       title="<?= $block->escapeHtml(__('Enter Email Address')) ?>"
                                       placeholder="* <?= $block->escapeHtml(__('Enter Email Address')) ?>"
                                       class="input-text validate-email required-entry">
                            </div>
                        </li>

                        <li class="row">
                            
                            <div class="input-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <textarea name="observations" id="observations"
                                          title="<?= $block->escapeHtml(__('Enter Observations')) ?>"
                                          placeholder="* <?= $block->escapeHtml(__('Enter Observations')) ?>"
                                          class="input-text required-entry"></textarea>
                            </div>
                        </li>

                        <li class="fields row">
                            <div class="field col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <!-- <label for="employee_count" class="required"><em>*</em><?= $block->escapeHtml(__('Number of Employees')) ?></label> -->
                                <div class="input-box">
                                    <input type="text" name="employee_count" id="employee_count"
                                           title="<?= $block->escapeHtml(__('Number of Employees')) ?>"
                                           placeholder="* <?= $block->escapeHtml(__('Number of Employees')) ?>"
                                           class="input-text required-entry">
                                </div>
                            </div>
                            <div class="field col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <!-- <label for="operation_sector_count" class="required"><em>*</em><?= $block->escapeHtml(__('Num of Sectors of Operations')) ?></label> -->
                                <div class="input-box">
                                    <input type="text" name="operation_sector_count" id="operation_sector_count"
                                           title="<?= $block->escapeHtml(__('Number of Branches')) ?>"
                                           placeholder="* <?= $block->escapeHtml(__('Number of Branches')) ?>"
                                           class="input-text required-entry">
                                </div>
                            </div>
                        </li>

                        <li class="row">
                            <!-- <label for="heard_about_us"><?= $block->escapeHtml(__('How did you hear about us?')) ?></label> -->
                            <div class="input-box col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <select name="heard_about_us" id="heard_about_us"
                                        title="<?= $block->escapeHtml(__('How did you hear about us?')) ?>"
                                        class=" "
                                        autocomplete="off">
                                    <option value="" hidden><?php echo __('How did you hear about us?') ?></option>
                                    <option value="<?= $block->escapeHtml(__('Friend/Relative Recommendation')) ?>"><?= $block->escapeHtml(__('Friend/Relative Recommendation')) ?></option>
                                    <option value="<?= $block->escapeHtml(__('Internet search')) ?>"><?= $block->escapeHtml(__('Internet search')) ?></option>
                                    <option value="<?= $block->escapeHtml(__('Radio')) ?>"><?= $block->escapeHtml(__('Radio')) ?></option>
                                    <option value="<?= $block->escapeHtml(__('Other Advertising')) ?>"><?= $block->escapeHtml(__('Other Advertising')) ?></option>
                                    <option value="<?= $block->escapeHtml(__('Sales Agent')) ?>"><?= $block->escapeHtml(__('Sales Agent')) ?></option>
                                    <option value="<?= $block->escapeHtml(__('Other')) ?>"><?= $block->escapeHtml(__('Other')) ?></option>
                                </select>
                            </div>
                        </li>

                        <?php //echo $block->getChildHtml('form.additional.info'); ?>
                    </ul>
                </div>

                <div class="buttons-set">
                    <button type="submit" title="<?= $block->escapeHtml(__('Submit')) ?>" class="button button-secondary large-secondary action submit primary blue-btn">
                        <span><span><?= $block->escapeHtml(__('Submit')) ?></span></span>
                    </button>
                </div>
            </form>
          </div>

          <hr>

          <?php
            echo $block->getLayout()
              ->createBlock('Magento\Cms\Block\Block')
              ->setBlockId('how-it-works')
              ->toHtml();
            ?>

          <div class="spacer">&nbsp;</div>

          <?php
            echo $block->getLayout()
              ->createBlock('Magento\Cms\Block\Block')
              ->setBlockId('contact-us-block')
              ->toHtml();
            ?>
      </div>


</div>
