<div class="page-title">
    <h1><?php echo $this->__('Address Book') ?></h1>
</div>
<div class="new-address-confirmation">
    <div class="large-6 medium-6 small-12 column hide-below-bpmed">
        <img src="<?php echo $this->getViewFileUrl('images/address-account.jpg');?>" alt="<?php echo __('New Address')?>">
    </div>

    <div class="large-6 medium-6 small-12 column">
        <h3><?php echo __('Your new address has been submitted') ?></h3>
        <p><?php echo __('Customer support will contact you shortly to verify the changes and make them effective.') ?></p>
    </div>
    <div class="spacer"></div>
    <div class="buttons-set">
        <p class="back-link"><a href="<?php echo $this->escapeUrl($this->getUrl('*/*/')) ?>"><?php echo __('Back to Address Book') ?></a></p>
    </div>
</div>
