<?php
/** @var \Nwuae\Customer\Block\Address\Suspenddelivery $block */

?>
<div class="page-title">
    <h1><?php echo __('Suspend Delivery') ?></h1>
</div>
<?php //echo $this->getMessagesBlock()->toHtml() ?>
<p><?php echo $block->getAddressHtml() ?></p>
<form action="<?php echo $block->getFormActionUrl() ?>" method="post" id="form-validate" class="scaffold-form" enctype="multipart/form-data" onSubmit="return validateRecaptcha()">
    <div class="fieldset">
        <?php echo $this->getBlockHtml('formkey')?>
        <input type="hidden" name="id" value="<?php echo $block->getAddress()->getId() ?>" />
        <input type="hidden" name="acw_address_id" value="<?php echo $block->getAddress()->getAcwCustomerAddressId() ?>" />
        <p class="required"><?php echo __('* Required Fields') ?></p>
        <ul class="form-list option-controls">
            <li class="wide">
                <label for="date_from" class="required"><em>*</em><?php echo __('Date From') ?></label>
                <div class="input-box">
                    <input type="text" name="date_from" placeholder="* <?php echo __('Date From') ?>" title="<?php echo __('Date From') ?>" class="input-text required-entry" id="date_from" readonly data-validate="{required:true}"/>
                </div>
            </li>
            <li class="wide">
                <label for="date_from" class="required"><em>*</em><?php echo __('Date To') ?></label>
                <div class="input-box">
                    <input type="text" name="date_to" placeholder="* <?php echo __('Date To') ?>" title="<?php echo __('Date To') ?>" class="input-text required-entry" id="date_to" readonly data-validate="{required:true}"/>
                </div>
            </li>
            <li class="wide">
                <label for="reason" class="required"><em>*</em><?php echo _('Reason') ?></label>
                <div class="input-box"><select name="reason" id="" class="required-entry" title="" data-validate="{required:true}"><option value="">* Reason</option><option value="Vacation">Vacation</option><option value="Customer Request">Customer Request</option><option value="Travel">Travel</option></select></div>
            </li>
            <li class="wide">
                <label for="observations" class="required"><em>*</em><?php echo __('Note') ?></label>
                <div class="input-box">
                    <input type="text" name="observations" placeholder="<?php echo __('Note') ?>" title="<?php echo __('Note') ?>" class="input-text" id="observations" />
                </div>
            </li>

        </ul>
    </div>
    <div class="buttons-set">
        <button type="submit" title="<?php echo __('Send') ?>" class="button"><span><span><?php echo __('Send') ?></span></span></button>
    </div>
</form>

<script type="text/javascript">
    //<![CDATA[
    function validateRecaptcha() {
        //if($this->helper('recaptcha')->showsuspenddelivery()){
       if (grecaptcha.getResponse() != "") {
           document.getElementById("captcha-required").style.display = "none";
           return true;
       } else {
           document.getElementById("captcha-required").style.display = "block";
           return false;
       }
        //} else {
       return true;
        //}
    }
    require(['jquery'], function ($) {
        // var dataForm = new VarienForm('form-validate', true);

        $('#date_from').datepicker({
            language: 'en',
            dateFormat: 'dd/mm/yy',
            autoClose: true,
            minDate: new Date(),
        });
        $('#date_to').datepicker({
            language: 'en',
            dateFormat: 'dd/mm/yy',
            autoClose: true,
            minDate: new Date()
        });


        $("#date_to").change(function () {
            var startDate = ($('#date_from').val());
            var endDate = ($('#date_to').val());
            var regExp = /(\d{1,2})\/(\d{1,2})\/(\d{2,4})/;
            console.log(startDate);
            console.log(endDate);
            if (parseInt(endDate.replace(regExp, "$3$2$1")) < parseInt(startDate.replace(regExp, "$3$2$1"))) {
                alert("You can not add End Date Less Than Start Date");
                $('#date_to').val('');
            }
        });

        $("#date_from").change(function () {
            var startDate = ($('#date_from').val());
            var endDate = ($('#date_to').val());
            var regExp = /(\d{1,2})\/(\d{1,2})\/(\d{2,4})/;
            console.log(startDate);
            console.log(endDate);
            if(endDate != '') {
                if (parseInt(endDate.replace(regExp, "$3$2$1")) < parseInt(startDate.replace(regExp, "$3$2$1"))) {
                    alert("You can not add Start Date Greater Than End Date");
                    $('#date_from').val('');
                    $('#date_to').val('');
                }
            }
        });
    });

    //]]>
</script>
<script type="text/javascript">
require([
    'jquery',
    'mage/mage'
], function($){

   var dataForm = $('#form-validate');
   dataForm.mage('validation', {});

});
</script>
<script src='https://www.google.com/recaptcha/api.js'></script>

