<?php
/**
 * @category  design
 * @package   nwuae_default
 */
// phpcs:disable Magento2.Templates.ThisInTemplate.FoundThis
/** @var Nwuae\Customer\Block\Form\Notifications\Couponsnotificationsettings $block */
?>
<?php $couponsNotificationSettings = $block->getCouponsNotificationSettings();
$helper = $this->helper('Nwuae\Customer\Helper\DataHelper');
$phoneCode = $helper->getConfig('customertype/customer_contact_type/phone_code');
?>
<form action="<?php echo $block->getCouponsnotificationsettingsPostUrl() ?>" method="post" autocomplete="off" id="coupons-form-validate" class="scaffold-form" enctype="multipart/form-data">
    <div class="fieldset">
        <ul class="form-list">
            <li class="fields quantity-fields row">
                <label for="couponsnotificationsettings_quantity" class="col-lg-3 col-md-3 col-sm-3 col-xs-3"><?php echo __('Quantity:') ?></label>
                <div class="input-box control col-lg-9 col-md-9 col-sm-9 col-xs-9"><input type="text" name="couponsnotificationsettings_quantity" id="couponsnotificationsettings_quantity" class="input-text validate-digits validate-digits-range" value="<?php echo $couponsNotificationSettings->NrCoupons ?>"></div>
            </li>
            <li class="fields sms-fields row">
                <div class="label-box col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <?php $smsNotification = $couponsNotificationSettings->Sms =="" ? false : true; ?>
                <input type="hidden" name="couponsnotificationsettings_sms_check" id="couponsnotificationsettings_sms_check_hidden" value="<?php echo ($smsNotification) ? $smsNotification : 0 ?>">
                <input type="checkbox" name="couponsnotificationsettings[]" id="couponsnotificationsettings_sms_check"<?php echo ($smsNotification) ? ' checked="checked"' : ''; ?> value="1"/><label for="couponsnotificationsettings_sms_check"><?php echo __('SMS') ?></label>
                </div>
                <div class="input-box phone_field col-lg-9 col-md-9 col-sm-9 col-xs-9">
                    <div class="row">
                    <div class="left_phone control col-lg-4 col-md-4 col-sm-4 col-xs-4">
                        <input name="couponsnotificationsettings_sms_code" id="couponsnotificationsettings_sms_code" title="<?php echo __('Mobile Number Code') ?>" value="<?= $phoneCode ?>" class="input-text" type="tel" readonly placeholder=" <?php echo __('Mobile Number Code') ?>" />
                    </div>

                    <div class="right_phone control col-lg-8 col-md-8 col-sm-8 col-xs-8">
                        <input type="text" name="couponsnotificationsettings_sms" id="couponsnotificationsettings_sms" class="input-text validate-digits" placeholder="<?php echo __('Enter Mobile Number') ?>" value="<?php echo $this->helper('Nwuae\Customer\Helper\Data')->phonecoderemove($block->escapeHtml($couponsNotificationSettings->Sms)); ?>">
                    </div>
                </div>
                </div>

            </li>
            <li class="fields email-fields row">
                <div class="label-box col-lg-3 col-md-3 col-sm-3 col-xs-3">
                <?php $emailNotification = $couponsNotificationSettings->Email == "" ? false : true; ?>
                <input type="hidden" name="couponsnotificationsettings_email_check" id="couponsnotificationsettings_email_check_hidden" value="<?php echo ($emailNotification) ? $emailNotification : 0 ?>">
                <input type="checkbox" name="couponsnotificationsettings[]" id="couponsnotificationsettings_email_check"<?php echo ($emailNotification) ? ' checked="checked"' : ''; ?> value="1"/><label for="couponsnotificationsettings_email_check"><?php echo __('Email') ?></label>
                </div>
                <div class="input-box control col-lg-9 col-md-9 col-sm-9 col-xs-9"><input type="text" name="couponsnotificationsettings_email" id="couponsnotificationsettings_email" class="input-text validate-email" placeholder="<?php echo __('Enter Email Address') ?>" value="<?php echo $block->escapeHtml($couponsNotificationSettings->Email) ?>"></div>
            </li>
        </ul>
    </div>
    <div class="buttons-set actions-toolbar"><div class="primary">
        <button type="submit" title="<?php echo $block->escapeHtml(__('Save')) ?>" class="button action primary"><span><span><?php echo __('Save') ?></span></span></button></div>
    </div>
</form>



<script type="text/javascript">
    require([        'jquery'
    ], function ($) {
        if($("#couponsnotificationsettings_sms_check").prop('checked') == true){
            //$("#couponsnotificationsettings_sms_code").attr("readonly", true);
            //$("#couponsnotificationsettings_sms").attr("readonly", true);
        }
        if($("#couponsnotificationsettings_email_check").prop('checked') == true){
            //$("#couponsnotificationsettings_email").attr("readonly", true);
        }
        $('#couponsnotificationsettings_email_check').click(function() {
            if($("#couponsnotificationsettings_email_check").prop('checked') == true){
                $("#couponsnotificationsettings_email").attr("readonly", true);
            }else{
                $("#couponsnotificationsettings_email").attr("readonly", false);
            }
        });
        $('#couponsnotificationsettings_sms_check').click(function() {
            if($("#couponsnotificationsettings_sms_check").prop('checked') == true){
                $("#couponsnotificationsettings_sms_code").attr("readonly", true);
                $("#couponsnotificationsettings_sms").attr("readonly", true);
            }else{
                $("#couponsnotificationsettings_sms_code").attr("readonly", false);
                $("#couponsnotificationsettings_sms").attr("readonly", false);
            }
        });
    });
</script>