<?php
$helper = $this->helper('Nwuae\Customer\Helper\Data');
$isActive = $helper->getIsActiveGtm();
$gtmTagId = $helper->getGtmTagId();
$isActiveGa = $helper->getIsActiveGa();
$gaTagId = $helper->getGaTagId();
?>

<?php if( $isActiveGa == 1 && !empty($gaTagId) ) : ?>
<!-- BEGIN GOOGLE UNIVERSAL ANALYTICS CODE -->
    <script type="text/javascript" excluded>
        //<![CDATA[
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

ga('create', '<?php echo $gaTagId; ?>', 'auto');
ga('send', 'pageview');
        //]]>
    </script>
<!-- END GOOGLE UNIVERSAL ANALYTICS CODE -->
<?php endif; ?>

<?php if( $isActive == 1 && !empty($gtmTagId) ) : ?>
<!-- Google Tag Manager -->
<script excluded>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','<?php echo $gtmTagId; ?>');</script>
<!-- End Google Tag Manager -->
<?php endif; ?>