<?php
$helper = $this->helper('Nwuae\Customer\Helper\Data'); 
$isActive = $helper->getIsActiveGtm();
$gtmTagId = $helper->getGtmTagId();
?>
<?php if( $isActive == 1 && !empty($gtmTagId) ) : ?>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=<?php echo $gtmTagId; ?>"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<?php endif; ?>