
<?php
$dob    = $block->getDate();
$day1   = $block->getDay();
$month1 = $block->getMonth();
$year1  = $block->getYear();
if(!empty($month1) && !empty($day1)){
  $full_date = $month1.'/'.$day1.'/'.$year1;
}else{
  $full_date = '';
}
$fieldCssClass = 'field date field-' . $block->getHtmlId();
$fieldCssClass .= $block->isRequired() ? ' required' : '';
?>

  <div class="<?= $block->escapeHtmlAttr($fieldCssClass) ?>">
      <label for="<?= $block->escapeHtmlAttr($block->getHtmlId()) ?>" class="label"><span><?= $block->escapeHtml($block->getLabel()) ?></span>
      </label>
      <div class="control customer-dob">
        <input type="hidden" class="" value="<?php echo $full_date; ?>" id="dob" name="dob" autocomplete="off">
        <select id="dob_dd" name="day" title="<?php /* @escapeNotVerified */ echo __('dd') ?>" class="input-text validate-cdobd dob-day">
          <option value="" selected="selected"><?php /* @escapeNotVerified */ echo __('Day') ?></option>
          <?php 
            for ($i = 1; $i <= 31; $i++) {
              $ti = str_pad($i, 2, "0", STR_PAD_LEFT);
              $selected = ($day1 == $ti) ? 'selected="selected"' : '';
              ?>
              <option value="<?php echo $ti; ?>" <?php echo $selected; ?> ><?php echo $ti; ?></option>
            <?php }
          ?>
        </select>
        <?php
           $months = array(
            '01' => $block->escapeHtml('January'),
            '02' => $block->escapeHtml('February'),
            '03' => $block->escapeHtml('March'),
            '04' => $block->escapeHtml('April'),
            '05' => $block->escapeHtml('May'),
            '06' => $block->escapeHtml('June'),
            '07' => $block->escapeHtml('July'),
            '08' => $block->escapeHtml('August'),
            '09' => $block->escapeHtml('September'),
            '10' => $block->escapeHtml('October'),
            '11' => $block->escapeHtml('November'),
            '12' => $block->escapeHtml('December')
        );
        ?>
         <select id="dob_mm" name="month" title="<?php /* @escapeNotVerified */ echo __('Month') ?>" class="input-text validate-cdobm dob-month">
          <option value="" selected="selected"><?php /* @escapeNotVerified */ echo __('Month') ?></option>
          <?php 
             foreach ($months as $key=>$var){
                  $selected = ($block->getMonth() == $key) ? 'selected="selected"' : '';
                ?>
                <option value="<?php echo $key; ?>" <?php echo $selected; ?> ><?php echo $var; ?></option>
                 
            <?php  }
          ?>
        </select>

        <?php
          $year_end = date('Y');
          $year_start = $year_end-99;

          // years
          $year_end = date('Y');
          $year_start = $year_end-99;
        ?>
        <select id="dob_yy" name="year" title="<?php /* @escapeNotVerified */ echo __('Year') ?>" class="input-text validate-cdoby dob-year">
          <option value="" selected="selected"><?php /* @escapeNotVerified */ echo __('Year') ?></option>
          <?php 
             for ($i = $year_end; $i >= $year_start; $i--) {
              $selected = ($block->getYear() == $i) ? 'selected="selected"' : '';
            ?>
            <option value="<?php echo $i; ?>" <?php echo $selected; ?> ><?php echo $i; ?></option>
            
          <?php }
          ?>
        </select>
        
        <div for="validate-custom-msg" generated="true" class="mage-error" id="validate-custom-msg"></div>
      </div>
      <div class="clearboth"></div>
  </div>


<script type="text/javascript">
    require([
        'jquery', // jquery Library
        'jquery/ui', // Jquery UI Library
        'jquery/validate', // Jquery Validation Library
        'mage/translate' // Magento text translate (Validation message translte as per language)
    ], function($){     

      var dataForm = $('#form-validate');
        var ignore = <?php echo $block->isEnabled() ? '\'input[id$="full"]\'' : 'null'; ?>;

        dataForm.mage('validation', {
        <?php if ($block->isEnabled()): ?>
            errorPlacement: function(error, element) {
                if (element.prop('id').search('dob_dd') !== -1 || element.prop('id').search('dob_mm') !== -1 || element.prop('id').search('dob_yy') !== -1) {
                  var dobElement = $(element).parents('.customer-dob'),
                        errorClass = error.prop('class');
                    error.insertAfter($('.validate-custom'));
                }
                else {
                    error.insertAfter(element);
                }
            },
            ignore: ':hidden:not(' + ignore + ')'
        <?php else: ?>
            ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
        <?php endif ?>
        });


         $.validator.addMethod(
        'validate-cdobd', function(value) {
            var postToRahaha = $("#dob_yy").val();
             var dayVal = $("#dob_dd").val(),
                    monthVal = $("#dob_mm").val(),
                    yearVal = $("#dob_yy").val(),
                    dobLength = dayVal.length + monthVal.length + yearVal.length;
                /* if (params[3] && dobLength === 0) {
                    this.dobErrorMessage = 'This is a required field.';
                    return false;
                }*/
                if (dobLength=== 0) {
                    return true;
                } 
                var day = parseInt(dayVal, 10) || 0,
                    month = parseInt(monthVal, 10) || 0,
                    year = parseInt(yearVal, 10) || 0,
                    curYear = (new Date()).getFullYear();
                if (!day) {
                    this.dobErrorMessage = 'Please enter a valid full date.';
                    return false;
                }

                var validateDayInMonth = new Date(year, month, 0).getDate();
                if (day < 1 || day > validateDayInMonth) {
                    var validDateMessage = $.mage.__('Please enter a valid day (1-%1).');
                    this.dobErrorMessage = validDateMessage.replace('%1', validateDayInMonth.toString());
                    return false;
                }
                var today = new Date(),
                    dateEntered = new Date();
                dateEntered.setFullYear(year, month - 1, day);
                if (dateEntered > today) {
                    this.dobErrorMessage = $.mage.__('Please enter a date from the past.');
                    return false;
                }


                return true;
        },
            function () {
                return this.dobErrorMessage;
            }
        );

         $.validator.addMethod(
        'validate-cdobm', function(value) {
            var postToRahaha = $("#dob_yy").val();
             var dayVal = $("#dob_dd").val(),
                    monthVal = $("#dob_mm").val(),
                    yearVal = $("#dob_yy").val(),
                    dobLength = dayVal.length + monthVal.length + yearVal.length;
                /* if (params[3] && dobLength === 0) {
                    this.dobErrorMessage = 'This is a required field.';
                    return false;
                }*/
                if (dobLength=== 0) {
                    return true;
                } 
                var day = parseInt(dayVal, 10) || 0,
                    month = parseInt(monthVal, 10) || 0,
                    year = parseInt(yearVal, 10) || 0,
                    curYear = (new Date()).getFullYear();

                if (month < 1 || month > 12) {
                    this.dobErrorMessage = 'Please select a valid month.';
                    return false;
                }


                return true;
        },
            function () {
                return this.dobErrorMessage;
            }
        );

         $.validator.addMethod(
        'validate-cdoby', function(value) {
            var postToRahaha = $("#dob_yy").val();
             var dayVal = $("#dob_dd").val(),
                    monthVal = $("#dob_mm").val(),
                    yearVal = $("#dob_yy").val(),
                    dobLength = dayVal.length + monthVal.length + yearVal.length;
                /* if (params[3] && dobLength === 0) {
                    this.dobErrorMessage = 'This is a required field.';
                    return false;
                }*/
                if (dobLength=== 0) {
                    return true;
                } 
                var day = parseInt(dayVal, 10) || 0,
                    month = parseInt(monthVal, 10) || 0,
                    year = parseInt(yearVal, 10) || 0,
                    curYear = (new Date()).getFullYear();


                var today = new Date(),
                    dateEntered = new Date();
                dateEntered.setFullYear(year, month - 1, day);
                if (!(dateEntered > today)){
                    if (year < 1900 || year > curYear) {
                        var validYearMessage = $.mage.__('Please enter a valid year (1900-%1).');
                        this.dobErrorMessage = validYearMessage.replace('%1', curYear.toString());
                        return false;
                    }
                }

                day = day % 10 === day ? '0' + day : day;
                month = month % 10 === month ? '0' + month : month;
                $('#dob').val(month + '/' + day + '/' + year);
                return true;
        },
            function () {
                return this.dobErrorMessage;
            }
        );


    });
    </script>

