<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Customer\Block\Form\Register $block */

$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->get('\Magento\Customer\Model\Session');
$nestleHelper = $this->helper('Nwuae\Customer\Helper\Data');
if($customerSession->getCustomerMobile()){
    $phone = $nestleHelper->phonecoderemove($customerSession->getCustomerMobile());
} else {
    $phone = '';
}

?>
<?= $block->getChildHtml('form_fields_before') ?>
<?php /* Extensions placeholder */ ?>
<?= $block->getChildHtml('customer.form.register.extra') ?>
<form class="form create account form-create-account" action="<?= $block->escapeUrl($block->getPostActionUrl()) ?>" method="post" id="form-validate" enctype="multipart/form-data" autocomplete="off">
    <?= /* @noEscape */ $block->getBlockHtml('formkey'); ?>
    <fieldset class="fieldset create info">
        <legend class="legend"><span><?= $block->escapeHtml(__('Please enter the following information to create your account.')) ?></span></legend><br>
        <legend class="legend required-fields-titel"><span><?= $block->escapeHtml(__('* Required Fields')) ?></span></legend><br>
        <input type="hidden" name="success_url" value="<?= $block->escapeUrl($block->getSuccessUrl()) ?>">
        <input type="hidden" name="error_url" value="<?= $block->escapeUrl($block->getErrorUrl()) ?>">
        <?= $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Name::class)->setObject($block->getFormData())->setForceUseCustomerAttributes(true)->toHtml() ?>
        <div class="field required">
            <!-- <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label> -->
            <div class="control">
                <input type="email" name="email" autocomplete="email" id="email_address" value="<?= $block->escapeHtmlAttr($block->getFormData()->getEmail()) ?>" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" class="input-text" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-email':true}" placeholder="<?= $block->escapeHtml(__('* Email Address')) ?>">
            </div>
        </div>
        <?php $helper = $this->helper('Nwuae\Customer\Helper\DataHelper');
              $phoneCode = $helper->getConfig('customertype/customer_contact_type/phone_code'); ?>
        <div class="phone_section">

            <div class="left_phone">
                 <!-- <label for="customer_mobile_code" class="label"><span><?= $block->escapeHtml(__('Mobile Code')) ?></span></label> -->
                 <div class="control"><input name="customer_mobile_code" id="customer_mobile_code" title="Customer Mobile Code" value="<?php echo $phoneCode; ?>" class="input-text" type="tel" readonly="" placeholder=" Customer Mobile Code"></div>
               
            </div>
            <div class="right_phone">
                <div class="field telephone ">
                    <!-- <label for="telephone" class="label">
                        <span><?= $block->escapeHtml(__('Phone Number')) ?></span>
                    </label> -->
                    <div class="control">
                        <input type="text" name="customer_mobile" id="customer_mobile" value="<?php echo $phone; ?>" title="Phone Number" class="input-text" autocomplete="off" data-mage-init='{"mage/trim-input":{}}' data-validate="{required:true, 'validate-number':true}" placeholder="<?= $block->escapeHtml(__('* Mobile Number (Eg. 555555555)')) ?>" <?php if(isset($phone) && $phone != ''){?> readonly="" <?php } ?>>
                    </div>
                </div>
            </div>
        </div>
        
        
        <?php $_dob = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Dob::class) ?>
        <?php if ($_dob->isEnabled()) : ?>
            <?= $_dob->setDate($block->getFormData()->getDob())->toHtml() ?>
        <?php endif ?>

        <?php $_taxvat = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Taxvat::class) ?>
        <?php if ($_taxvat->isEnabled()) : ?>
            <?= $_taxvat->setTaxvat($block->getFormData()->getTaxvat())->toHtml() ?>
        <?php endif ?>

        <?php $_gender = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Gender::class) ?>
        <?php if ($_gender->isEnabled()) : ?>
            <?= $_gender->setGender($block->getFormData()->getGender())->toHtml() ?>
        <?php endif ?>
    </fieldset>
    <fieldset class="fieldset create account" >
        
        <div class="field password required">
            <!-- <label for="password" class="label"><span><?= $block->escapeHtml(__('Password')) ?></span></label> -->
            <div class="control">
                <input type="password" name="password" id="password"
                       title="<?= $block->escapeHtmlAttr(__('Password')) ?>"
                       class="input-text"
                       data-password-min-length="<?= $block->escapeHtmlAttr($block->getMinimumPasswordLength()) ?>"
                       data-password-min-character-sets="<?= $block->escapeHtmlAttr($block->getRequiredCharacterClassesNumber()) ?>"
                       data-validate="{required:true, 'validate-customer-password':true}"
                       autocomplete="off" placeholder="<?= $block->escapeHtml(__('* Password')) ?>">
                <div id="password-strength-meter-container" data-role="password-strength-meter" aria-live="polite">
                    <div id="password-strength-meter" class="password-strength-meter">
                        <?= $block->escapeHtml(__('Password Strength')) ?>:
                        <span id="password-strength-meter-label" data-role="password-strength-meter-label">
                            <?= $block->escapeHtml(__('No Password')) ?>
                        </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="field confirmation required">
            <!-- <label for="password-confirmation" class="label"><span><?= $block->escapeHtml(__('Confirm Password')) ?></span></label> -->
            <div class="control">
                <input type="password" name="password_confirmation" title="<?= $block->escapeHtmlAttr(__('Confirm Password')) ?>" id="password-confirmation" class="input-text" data-validate="{required:true, equalTo:'#password'}" autocomplete="off" placeholder="<?= $block->escapeHtml(__('* Confirm Password')) ?>">
            </div>
        </div>
        <div class="field choice verifyemail">
                <input type="checkbox" name="verifyemail" title="verifyemail" value="1" id="verifyemail" class="checkbox" disabled>
                <label for="verifyemail" class="label"><span><?= $block->escapeHtml(__('Please select this checkbox if you are associated with Nestlé Waters.')) ?></span></label>
            </div>
        <input id="associated_val" type="hidden" name="department" value="" />
            <div class="submit-msg"></div>
            <div class="field otp required" style="display: none;" id="otp-section">
                <label for="otp" class="label"><span>OTP</span></label>
                <div class="control">
                    <input type="text" name="otp" value="" title="Otp" id="otp" class="input-text" data-validate="{required:true}">
                    <button class="veriftyOtp">Verify OTP</button>
                    <button class="resendOtp">Resend OTP</button>
                </div>
            </div>
        <div class="field heard_about_us">
            <!-- <label for="heard_about_us"><?= $block->escapeHtml(__('Where did you hear about us?')) ?></label> -->
            <div class="control">
                <div class="input-box">
                    <select name="heard_about_us" id="heard_about_us"
                            title="<?= $block->escapeHtml(__('Where did you hear about us?')) ?>"
                            class=" "
                            autocomplete="off">
                        <option value="" hidden><?= $block->escapeHtml(__('Where did you hear about us?')) ?></option>
                        <option value="<?= $block->escapeHtml(__('Friend Relative Recommendation')) ?>"><?= $block->escapeHtml(__('Friend/Relative Recommendation')) ?></option>
                        <option value="<?= $block->escapeHtml(__('Internet search')) ?>"><?= $block->escapeHtml(__('Internet search')) ?></option>
                        <option value="<?= $block->escapeHtml(__('Radio')) ?>"><?= $block->escapeHtml(__('Radio')) ?></option>
                        <option value="<?= $block->escapeHtml(__('Other Advertising')) ?>"><?= $block->escapeHtml(__('Other Advertising')) ?></option>
                        <option value="<?= $block->escapeHtml(__('Sales Agent')) ?>"><?= $block->escapeHtml(__('Sales Agent')) ?></option>
                        <option value="<?= $block->escapeHtml(__('Other')) ?>"><?= $block->escapeHtml(__('Other')) ?></option>
                    </select>
                </div>
            </div>
        </div>
        <?= $block->getChildHtml('form_additional_info') ?>
    </fieldset>
    
    
    <?php if ($block->getShowAddressFields()) : ?>
        <fieldset class="fieldset address">
            <legend class="legend"><span><?= $block->escapeHtml(__('Address Information')) ?></span></legend><br>
            <input type="hidden" name="create_address" value="1" />

            <?php $_company = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Company::class) ?>
            <?php if ($_company->isEnabled()) : ?>
                <?= $_company->setCompany($block->getFormData()->getCompany())->toHtml() ?>
            <?php endif ?>

            <?php $_telephone = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Telephone::class) ?>
            <?php if ($_telephone->isEnabled()) : ?>
                <?= $_telephone->setTelephone($block->getFormData()->getTelephone())->toHtml() ?>
            <?php endif ?>

            <?php $_fax = $block->getLayout()->createBlock(\Magento\Customer\Block\Widget\Fax::class) ?>
            <?php if ($_fax->isEnabled()) : ?>
                <?= $_fax->setFax($block->getFormData()->getFax())->toHtml() ?>
            <?php endif ?>
            <?php //phpcs:disable ?>
            <?php $_streetValidationClass = $this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('street'); ?>
            <?php //phpcs:enable ?>
            <div class="field street required">
                <label for="street_1" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?></span></label>
                <div class="control">
                    <input type="text" name="street[]" value="<?= $block->escapeHtmlAttr($block->getFormData()->getStreet(0)) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('street') ?>" id="street_1" class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                    <div class="nested">
                        <?php $_streetValidationClass = trim(str_replace('required-entry', '', $_streetValidationClass)); ?>
                        <?php //phpcs:disable ?>
                        <?php for ($_i = 2, $_n = $this->helper(\Magento\Customer\Helper\Address::class)->getStreetLines(); $_i <= $_n; $_i++) : ?>
                        <?php //phpcs:enable ?>
                            <div class="field additional">
                                <label class="label" for="street_<?= /* @noEscape */ $_i ?>">
                                    <span><?= $block->escapeHtml(__('Address')) ?></span>
                                </label>
                                <div class="control">
                                    <input type="text" name="street[]" value="<?= $block->escapeHtmlAttr($block->getFormData()->getStreetLine($_i - 1)) ?>" title="<?= $block->escapeHtmlAttr(__('Street Address %1', $_i)) ?>" id="street_<?= /* @noEscape */ $_i ?>" class="input-text <?= $block->escapeHtmlAttr($_streetValidationClass) ?>">
                                </div>
                            </div>
                        <?php endfor; ?>
                    </div>
                </div>
            </div>

            <div class="field required">
                <label for="city" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?></span></label>
                <div class="control">
                    <?php //phpcs:disable ?>
                    <input type="text" name="city" value="<?= $block->escapeHtmlAttr($block->getFormData()->getCity()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('city') ?>" class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('city')) ?>" id="city">
                    <?php //phpcs:enable ?>
                </div>
            </div>

            <div class="field region required">
                <label for="region_id" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?></span></label>
                <div class="control">
                    <select id="region_id" name="region_id" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>" class="validate-select region_id" style="display:none;">
                        <option value=""><?= $block->escapeHtml(__('Please select a region, state or province.')) ?></option>
                    </select>
                    <?php //phpcs:disable ?>
                    <input type="text" id="region" name="region" value="<?= $block->escapeHtmlAttr($block->getRegion()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('region') ?>" class="input-text <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('region')) ?>" style="display:none;">
                    <?php //phpcs:enable ?>
                </div>
            </div>

            <div class="field zip required">
                <label for="zip" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?></span></label>
                <div class="control">
                    <?php //phpcs:disable ?>
                    <input type="text" name="postcode" value="<?= $block->escapeHtmlAttr($block->getFormData()->getPostcode()) ?>" title="<?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('postcode') ?>" id="zip" class="input-text validate-zip-international <?= $block->escapeHtmlAttr($this->helper(\Magento\Customer\Helper\Address::class)->getAttributeValidationClass('postcode')) ?>">
                    <?php //phpcs:enable ?>
                </div>
            </div>

            <div class="field country required">
                <label for="country" class="label"><span><?= /* @noEscape */ $block->getAttributeData()->getFrontendLabel('country_id') ?></span></label>
                <div class="control">
                    <?= $block->getCountryHtmlSelect() ?>
                </div>
            </div>
            <?php $addressAttributes = $block->getChildBlock('customer_form_address_user_attributes');?>
            <?php if ($addressAttributes) : ?>
                <?php $addressAttributes->setEntityType('customer_address'); ?>
                <?php $addressAttributes->setFieldIdFormat('address:%1$s')->setFieldNameFormat('address[%1$s]');?>
                <?php $block->restoreSessionData($addressAttributes->getMetadataForm(), 'address');?>
                <?= $addressAttributes->setShowContainer(false)->toHtml() ?>
            <?php endif;?>
            <input type="hidden" name="default_billing" value="1">
            <input type="hidden" name="default_shipping" value="1">
        </fieldset>

    <?php endif; ?>
    
    <div class="actions-toolbar">
        <div class="primary">
            <button type="submit" class="action submit primary blue-btn" title="<?= $block->escapeHtmlAttr(__('Register')) ?>"><span><?= $block->escapeHtml(__('Register')) ?></span></button>
        </div>
        <div class="secondary">
            <a class="action back" href="<?= $block->escapeUrl($block->getBackUrl()) ?>"><span><?= $block->escapeHtml(__('Back')) ?></span></a>
        </div>
    </div>
</form>
<script>
require([
    'jquery',
    'mage/mage'
], function($){
    /********************** Email Verifiction******************************/
$("form.form.create.account.form-create-account #email_address").focusout(function(){
    var email_val = $('#email_address').val();
        if(email_val != ""){
            $('#verifyemail').removeAttr('disabled');
        }  
});

    $("#verifyemail").change(function(){
        if(this.checked) {
            $('#otp-section').show();
            $("form.form.create.account.form-create-account button.action.submit.primary").attr("disabled", true);

            var randomOTP = Math.floor(1000 + Math.random() * 9000);
            //console.log(randomOTP);
            $('.submit-msg').html(''); 
            $('.submit-msg').show(); 
            var custemail = $("#email_address").val();
            var otpCode = randomOTP;

            var url = "<?php echo $block->getBaseUrl().'verifyemail/index/save/' ?>";
            $.ajax({
            url: url,
            type: "POST",
            data: {email:custemail,code:otpCode},
            showLoader: true,
            cache: false,
            success: function(response){
                //console.log(response.output);
                $('.submit-msg').html(response.output);
                if(response.domain == 1){
                    $('#otp-section').hide();
                    $('#otp').val('');
                }
            }
        });
        } else {
            $('#otp-section').hide();
            $('.submit-msg').hide();    
            $("form.form.create.account.form-create-account button.action.submit.primary").attr("disabled", false);
        }
        return false;
        });

    $('.resendOtp').on('click', function(event){
        var randomOTP = Math.floor(1000 + Math.random() * 9000);
            //console.log(randomOTP);
            var custemail = $("#email_address").val();
            var otpCode = randomOTP;

            var url = "<?php echo $block->getBaseUrl().'verifyemail/index/save/' ?>";
            $.ajax({
            url: url,
            type: "POST",
            data: {email:custemail,code:otpCode,resend:1},
            showLoader: true,
            cache: false,
            success: function(response){
                //console.log(response.output);
                $('.submit-msg').html(response.output);
            }
        });
        return false;
      });

    $('.veriftyOtp').on('click', function(event){
        var custemailver = $("#email_address").val();
            var otpCode = $("#otp").val();
            var url = "<?php echo $block->getBaseUrl().'verifyemail/index/verify/' ?>";
            $.ajax({
            url: url,
            type: "POST",
            data: {email:custemailver,code:otpCode},
            showLoader: true,
            cache: false,
            success: function(response){
                //console.log(response);
                if(response.success == 'success'){
                    $('#email_address').attr('readonly','readonly');
                    $('.submit-msg').show();
                    $('#associated_val').val('1');
                    $("form.form.create.account.form-create-account button.action.submit.primary").attr("disabled", false);
                } else{
                    $('#otp').val('');
                }
                $('.submit-msg').html(response.output);
            }
        });
        return false;
      });
    /***********************Email Verifiction End *************************/
    var dataForm = $('#form-validate');
    var ignore = <?= /* @noEscape */ $_dob->isEnabled() ? '\'input[id$="full"]\'' : 'null' ?>;

    dataForm.mage('validation', {
    <?php if ($_dob->isEnabled()) : ?>
        errorPlacement: function(error, element) {
            if (element.prop('id').search('full') !== -1) {
                var dobElement = $(element).parents('.customer-dob'),
                    errorClass = error.prop('class');
                error.insertAfter(element.parent());
                dobElement.find('.validate-custom').addClass(errorClass)
                    .after('<div class="' + errorClass + '"></div>');
            }
            else {
                error.insertAfter(element);
            }
        },
        ignore: ':hidden:not(' + ignore + ')'
    <?php else : ?>
        ignore: ignore ? ':hidden:not(' + ignore + ')' : ':hidden'
    <?php endif ?>
    }).find('input:text').attr('autocomplete', 'off');

});
</script>
<?php if ($block->getShowAddressFields()) : ?>
<script type="text/x-magento-init">
    {
        "#country": {
            "regionUpdater": {
                "optionalRegionAllowed": <?= /* @noEscape */ $block->getConfig('general/region/display_all') ? 'true' : 'false' ?>,
                "regionListId": "#region_id",
                "regionInputId": "#region",
                "postcodeId": "#zip",
                "form": "#form-validate",
                <?php //phpcs:disable ?>
                "regionJson": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getRegionJson() ?>,
                <?php //phpcs:enable ?>
                "defaultRegion": "<?= (int) $block->getFormData()->getRegionId() ?>",
                <?php //phpcs:disable ?>
                "countriesWithOptionalZip": <?= /* @noEscape */ $this->helper(\Magento\Directory\Helper\Data::class)->getCountriesWithOptionalZip(true) ?>
                <?php //phpcs:enable ?>
            }
        }
    }
</script>
<?php endif; ?>

<script type="text/x-magento-init">
    {
        ".field.password": {
            "passwordStrengthIndicator": {
                "formSelector": "form.form-create-account"
            }
        }
    }
</script>
