<!--@subject Customer Account Update Notification @-->

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>

<!-- Begin wrapper table -->
<table width="100%" cellpadding="0" cellspacing="0" border="0" id="background-table" style="border-collapse:collapse;margin:0 auto;background-color:#f0f7f9;font-family:arial">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" class="logo-container" width="100%" >
                <tr>
                    <td class="logo" style="text-align:center;padding:10px;border-bottom:1px solid #ececec;background-color:#0f96dc;font-family:'Open Sans','Trebuchet MS',Arial,sans-serif;vertical-align:top">
                        <a href="{{config path="web/unsecure/base_url"}}">
                        <img
                                {{if logo_width}}
                                width="{{var logo_width}}"
                                {else}}
                                width="165"
                                {{/if}}

                        {{if logo_height}}
                        eight="{{var logo_height}}"
                        {{else}}
                        height="48"
                        {{/if}}

                        src="https://buyonline.nwuaewaters.ae/skin/frontend/nwuae/default/images/pure-life-02.png"
                        alt="{{var logo_alt}}"
                        border="0" />

                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td valign="top" class="container-td" align="center">
            <table cellpadding="0" cellspacing="0" border="0" align="center" class="container-table">

                <tr>
                    <td valign="top" style="padding:30px 20px;">
                        <!-- Begin Content -->
                        <div class="content">
                            <p class="customer_name">Hello {{var customername}},</p>
                            <div class="message">
                                {{var updatenotificationmsg}}
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td>
            <table class="footer-table" width="100%" ><tr><td align="center" background="{{media url="email/footer_bg.png"}}" style="background-size: cover;">
                <h5 class="closing-text" style="font-weight:700;line-height:1.1;color:#fff;font-size:28px;margin-top:140px;margin-bottom:45px">Drink better. Live better.</h5>
                <p class="copyright-text" style="margin-top:0;color:#fff;margin-bottom:30px">Nestlé © and Pure Life  © 2019 are registered trademarks of Société des Produits Nestlé  - Switzerland</p>
                </td></tr></table>
        </td>
    </tr>
</table>
<!-- End wrapper table -->
</body>
