body{
	direction: rtl;
}
.sections.nav-sections .navigation .level0 .submenu li.nav-2-2, .sections.nav-sections .navigation .level0 .submenu li.nav-2-1 {
    float: right;
}
.sections.nav-sections .navigation .level0 .submenu li.nav-2-1:before,.sections.nav-sections .navigation .level0 .submenu li.nav-2-2:before {
    float: right;
}
.logo, .header-right .block-search{float: right;}
.header-right, header .header-right .minicart-wrapper, .header-right .links {
	float: left;
	z-index: 10;margin-left: 0;
}
.customer-commercialcustomer-index .commercial-work .large-12.medium12.small-12.columns .home-block .content-wrap h3.block-title{text-align: right;}
.checkout-agreements-block .checkout-agreements .checkout-agreement button.action.action-show {
    text-align: right;
}
.customer-commercialcustomer-index .page-main .column.main .inner-page-wrapper p,
.customer-commercialcustomer-index .contact-us-block .home-block .content-wrap h3.block-title{
    text-align: right;
    float: right;
}
.categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li.active.completed .delivery-box-add .brand-dis h5.delivery-name {padding: 0px 5px 16px;display: block;}
.categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li.active.completed .delivery-box-add .delivery-logo.day-icon-7يوما:after{content:'\e900';font-family:'icomoon' !important;color:#fff;font-size:18px;}
.categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li.active.completed .delivery-box-add .delivery-logo.day-icon-14يوما:after{content:'\e901';font-family: 'icomoon' !important;color: #fff;font-size: 18px;}
.categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li.active.completed .delivery-box-add .delivery-logo.day-icon-30يوما:after{content: '\e902';font-family: 'icomoon' !important;color: #fff;font-size: 18px;}

.category-5-gallon-quick-shop .page-main{display: block !important;}
.account main.page-main .columns .pager,
header .panel.wrapper .panel.header .switcher.language.switcher-language,
header .page-header .panel.wrapper ul{
	float: left;
}
header a.custom-brand-logo {
    float: right;
}

header .panel.wrapper .panel.header .switcher.language.switcher-language i {
    float: right;
    margin-left: 10px;
}
header .page-header .switcher .options .action.toggle:after, header .page-footer .switcher .options .action.toggle:after{
	float: left;
	margin-right: 10px;
}
header .panel.wrapper .panel.header [data-content-type='row'][data-appearance='contained']{
	max-width: 100%;
	float: left;
}
header .panel.wrapper ul li a span {
    display: inline-block;
    direction: rtl;
}
.products-grid .product-item-info .product-item-inner .qty-wrapper, li.item.product.product-item .product-item-actions .qty-wrapper{float: right;}
.products-grid .product-item-info .product-item-inner .qty-wrapper label.qty-label, li.item.product.product-item .product-item-actions .qty-wrapper label.qty-label, .products-grid .product-item-info .product.actions.product-item-actions label.qty-label{margin-right: 0;margin-left: 10px;}
/*.page-main.page-main-details li.item.product.product-item .product-item-actions button.action.tocart.primary, .products-grid .product-item-info .product.actions.product-item-actions .actions-primary .action.tocart.primary, .action.primary.btn-pink{float: left;padding: 0 38px}*/
.account.wishlist-index-index .form-wishlist-items .product-item .product-item-info strong.product-item-name, .page-main .columns .column.main .product-item .product-item-details strong.product-item-name{text-align: right;}
.account.wishlist-index-index .page-main .columns .column.main .product-item .product.details.product-item-details .vat_label{float: left;}
.contact-index-index .page-main .columns .column.main .contact_us_additional .block-wrap-g ul li i{margin-right: 0;margin-left: 10px;}
header  .panel.wrapper ul li a{
	padding: 0;
}
header.page-header .switcher .options ul.dropdown{
	left: 0;
	right: auto;
}
.customer-commercialcustomer-index .page-main .column.main .inner-page-wrapper hr {
    display: none;
}
header .panel.wrapper .page-header .switcher .options ul.dropdown:before,
header .panel.wrapper .page-header .switcher .options ul.dropdown:after {
    left: 10px;
    right: auto;
}
/*.page-wrapper .header.content .header-right .header.links li.customer-welcome .customer-name .action.switch::before{margin: 5px 0 0 10px;}*/
.toolbar-products.toolbar select{padding: 4px 10px 5px 25px}
.customer-account-create form.form-create-account .field.date.field-dob label.label{float: right;}
.customer-account-create form.form-create-account .field.date.field-dob .control.customer-dob{float: right;}
select{background-position: left 45%}
header .header-right .minicart-wrapper .action.showcart:before, header .header-right .minicart-wrapper .action.showcart.active:before{
	float: right;
	margin-left: 8px;
	margin-right: 0px;
}
header .header-right .minicart-wrapper .action.showcart .text{
	padding: 10px 10px 0 0px
}
.header-right .minicart-wrapper .action.showcart .counter.qty{
	left: auto;
	right: 8px;
}
.header-right .block-search .action.search {
    left: 34px;
    top: 16px;
    z-index: 1;
    right: auto;
}
/*.header-right .block-search input{
	padding: 0px 20px 0px 40px;
}*/
.pramotion-section .pramotion-bar{float: right;text-align: right;}
.pramotion-section .pramotion-bar span{
	margin-right: 0; margin-left: 15px;
}
.howit-works .how-work-box .col-lg-8.col-md-8.col-sm-8.col-xs-8{
	border-left: 0; border-right: 1px solid #eee;
}
.howit-works .right-box{
	float: right;width: 100%;
}
.location-section ul.form-list label{font-size: 12px;}
.ewallet-bal {
    float: right;
    text-align: right;
    font-size: 15px;
    font-weight: 600;
    padding-top: 9px;
    margin-left: 10px;
}
.ewallet-bal a.ewalbtn{margin-right: 0;margin-left: 0px;float: right;}
header .header-right .minicart-wrapper .block-minicart, .minicart-wrapper .action.close{
	right: auto;left: 0;
}
.minicart-items .product > .product-item-photo, .minicart-items .product > .product-image-container, .existing-create form .required, .existing-create form .phone_field.fields .left_phone, .customer-existed-create .buttons-set .back-link{
	float: right;
}
.existing-create form .phone_field.fields .right_phone, .customer-existed-create .buttons-set .action.primary.blue-btn{float: left;}
header .header-right .minicart-wrapper .minicart-items .product-item-details {
    padding-right: 110px;padding-left: 0;
}
footer .footer ul.soclai-links, .coppyright ul.payment-card{float: left;}
footer .footer ul, .coppyright .left-coppyright{float: right;}
.cms-home .products-carousel.carousel .home_carousel.owl-carousel.owl-theme.product-items button.owl-next, .cms-home .page-main .carousel-container #banner-slider-carousel .owl-nav button.owl-next{right: auto;left: -50px;}
.cms-home .products-carousel.carousel .home_carousel.owl-carousel.owl-theme.product-items button.owl-prev, .cms-home .page-main .carousel-container #banner-slider-carousel .owl-nav button.owl-prev{left: auto;right: -50px;}

.products-carousel.carousel .home_carousel.owl-carousel.owl-theme.product-items button.owl-next, .page-main .carousel-container #banner-slider-carousel .owl-nav button.owl-next{right: auto;/*left: -50px;*/}
.products-carousel.carousel .home_carousel.owl-carousel.owl-theme.product-items button.owl-prev, .page-main .carousel-container #banner-slider-carousel .owl-nav button.owl-prev{left: auto;/*right: -50px;*/}
.nav-sections .navigation .level0 .submenu{text-align: right;}
.product-item .product-item-info span.lebeltwo.right_bottom{right: auto;left: 0}
.product-item .product-item-info span.lebeltwo.blue_label{left: auto;right: 0}
.search-autocomplete ul li{text-align: right;}
.search-autocomplete ul li .amount{left: 7px; right: auto;}
.page-layout-2columns-left .page-wrapper .page-main .column.main, .products-grid .product-item-info .product.actions.product-item-actions .actions-primary .action.tocart.primary{float: left;}
.page-with-filter .toolbar-amount, .page-products .sorter{float: right;text-align:right;}
.page-main .columns .column.main .product-item{text-align: right;}
.products-grid .product-item-info .product.actions.product-item-actions .qty-wrapper{float: right;}
.page-main .columns .products.wrapper ~ .toolbar .pages, .toolbar-products.toolbar .pages {
    float: left;
}
.checkout-cart-index .products-carousel.carousel .home_carousel.owl-carousel.owl-theme.product-items button.owl-next, .page-main.page-main-details .products-carousel.carousel .owl-carousel.owl-theme .owl-nav .owl-next{left: auto;}
.checkout-cart-index .products-carousel.carousel .home_carousel.owl-carousel.owl-theme.product-items button.owl-prev, .page-main.page-main-details .products-carousel.carousel .owl-carousel.owl-theme .owl-nav .owl-prev{right: auto;}
.page-main .columns .products.wrapper ~ .toolbar .pages .pages-items .item.pages-item-next a, .toolbar-products.toolbar .pages .pages-items .item.pages-item-next a{
	transform: rotate(-180deg);
}
.page-products .sorter {
    float: right;
    margin-left: 0px;
    order: 2;
    width: 33.33%;
}
.page-with-filter .toolbar-amount{order: 3;text-align: right;float: right;}
.contact-index-index .page-main .columns .column.main .contact_us_additional .block-wrap-g h3.block-title{text-align: right;direction: rtl;}
.contact-index-index .page-main .columns .column.main .contact_us_additional .block-wrap-g ul li img{margin-right: 0;margin-left: 10px;}
.contact-index-index .contact_us_additional .block-wrap-g ul {
    padding: 0 18px 0 0px;
}
.contact-index-index .contact_us_map .map-info{right: auto;left: 20px;}
.contact-index-index .contact_us_map .map-info ul li h4:before{right: 0;position: absolute;}
.contact-index-index .contact_us_map .map-info ul li h4 a {
    padding-left: 0;
    padding-right: 17px;
}
.contact-index-index .contact_us_map .map-info ul li p{padding-left: 0;padding-right: 20px;}
.contact-index-index form.form.contact .actions-toolbar .primary{float: right;}
.customer-account-create form.form-create-account .field-name-firstname.required, .customer-account-create form.form-create-account .field-name-lastname.required, .customer-account-create form.form-create-account .password.required, .customer-account-create form.form-create-account .confirmation.required, .customer-account-create form.form-create-account .phone_section .left_phone, .customer-account-create form.form-create-account .field-recaptcha,.customer-account-create form.form-create-account legend.legend.required-fields-titel span, .customer-account-create form.form-create-account .actions-toolbar .secondary{float: right;}
.customer-account-create form.form-create-account .phone_section .right_phone, .customer-account-create form.form-create-account .actions-toolbar .primary, .customer-account-forgotpassword .form.password.forget .fieldset .actions-toolbar > .primary {float: left;}
.customer-account-create form.form-create-account .actions-toolbar > .secondary .action.back:before, .customer-account-forgotpassword .form.password.forget .fieldset .actions-toolbar > .secondary .action.back:before, .customer-existed-create .buttons-set .back-link a:before{margin-right: 0;margin-left: 5px;content: "\f0a9";float: right;}
.customer-account-create .form-create-account select#heard_about_us {
    background-position: left 45%;
}
/*.customer-account-create form.form-create-account div.mage-error[generated]{right: auto;left: 15px;}
.customer-account-create form.form-create-account .field-recaptcha div.mage-error[generated]{right: auto;left: -130px;}*/

.customer-account-login .page-main .columns .column.main .block-title, .customer-account-login .page-main .columns .column.main .block-title strong, .customer-account-forgotpassword .page-main .columns .column.main .block-title, .customer-account-forgotpassword .page-main .columns .column.main .block-title strong{text-align: right;}
.customer-account-login .actions-toolbar .primary, .customer-account-forgotpassword .form.password.forget .fieldset .actions-toolbar > .secondary{float: right;}
.customer-account-login .block-new-customer ul{padding: 0 20px 0 0}
.customer-account-login .block-customer-login .actions-toolbar .secondary{float: right;text-align: right;}
.customer-account-login .block-customer-login .actions-toolbar .primary .action {margin: 0;}
.contact-index-index form.form.contact .fieldset input, .customer-account-create .form-create-account input, .customer-account-create .form-create-account select#heard_about_us, .customer-account-login .block-customer-login .block-content input, .control input, .existing-create input{background-position: 10px center !important}
.message.success > *:first-child:before, .message.error > *:first-child:before{left: auto;right: 0}
.message.success, .message.error{padding-left: 0;padding-right: 45px;}
.sidebar.sidebar-main .block.filter .filter-options .filter-options-title{padding: 10px;}
.page-products .sidebar.sidebar-main .block.filter .filter-options .filter-options-content{padding: 0}
.toolbar.toolbar-products .toolbar-amount {
    width: 33.33%;
    float: right;
    text-align: right;
}
.sidebar.sidebar-main .block.filter .content .options dd{margin: 0;}
.product-info-main .product-add-form .box-tocart {float: left;width: 100%;}
.product-info-main .product-add-form .box-tocart .actions .action.primary.tocart{margin-right: 15%}
.product-info-main .product-add-form .box-tocart .field.qty .control, li.item.product.product-item .product-item-actions .qty-wrapper, .checkout-cart-index .cart-container .cart-summary .block.discount .field, .page-layout-1column .product-info-main .product-detail-right-product li.item.product.product-item a.product.photo.product-item-photo {float: right;}
.product-info-main .product-add-form .box-tocart .field.qty{float: right;width: auto;}
.product.attribute.description div[data-content-type='tabs'] .tabs-navigation{text-align: right !important;}
.fotorama__nav-wrap.fotorama__nav-wrap--horizontal {text-align: right;}
.action.primary.btn-pink, .checkout-cart-index .cart-container .cart-summary .block.discount .actions-toolbar{float: left;}
.page-layout-1column .product-info-main .product-detail-right-product {border-top: 1px solid #E6E6E6;float: left;width: 100%;}
.page-layout-1column .product-info-main .product-detail-right-product li.item.product.product-item .product.details.product-item-details {margin-left: 0;margin-right: 120px;}
.page-layout-1column .product-info-main .product-detail-right-product li.item.product.product-item .product.details.product-item-details .go-link:after{content: "\f137"}
.checkout-cart-index .cart-container .form-cart {
    float: right;
    padding-right: 0;
    padding-left: 4%;
}
.ewallet-bal.login{float: right;}
.checkout-cart-index .cart-container .cart-summary{float: left;}
.cart.table-wrapper .cart.items.data.table tr .col.item{float: right;}
.cart.table-wrapper .cart.items.data.table tr .col.item a.product-item-photo {padding-right: 0;}
.customer-account-login .page-main .block.block-new-customer{float: right !important;}
.customer-account-login .page-main .block.block-customer-login {
    float: left !important;
}
.customer-account-login .action.create.primary{margin: 0}
.checkout-index-index .opc-block-summary .items-in-cart > .title:after {
    position: absolute;
    right: auto;
    top: 10px;
    left: 10px;
}
.checkout-index-index .checkout-container .opc-sidebar.opc-summary-wrapper .opc-block-summary .block.items-in-cart .title{
    padding: 10px 40px 10px 0px;text-align: right;
}
.checkout-index-index .opc-wrapper .step-content#checkout-step-shipping_method .actions-toolbar .primary {float: left;}
.checkout-index-index .checkout-container .opc-sidebar.opc-summary-wrapper .opc-block-summary .minicart-items-wrapper.overflowed li.product-item .product-item-details{padding-left: 0;padding-right: 110px}
.checkout-index-index .opc-block-summary .product-item .product-item-name-block, .checkout-index-index .opc-block-summary .product-item .subtotal{text-align: right;}
.checkout-index-index .opc-wrapper .shipping-address-item.selected-item:after {background-color: #0e4194;right: auto;left: 0;}
.checkout-index-index .opc-block-shipping-information .shipping-information-title .action-edit {right: auto;left: 0;}
.checkout-index-index  .checkout-payment-method .ccard.fieldset > .field .fields.group.group-2 .field{float: right;}
.checkout-index-index .checkout-payment-method .payment-option-title .action-toggle:after{float: left;}
.checkout-index-index .checkout-container .opc-sidebar.opc-summary-wrapper .opc-block-summary table.data.table.table-totals td.amount {
 text-align: left;padding-left: 14px;}
.checkout-index-index .checkout-container .opc-sidebar.opc-summary-wrapper .opc-block-summary table.data.table.table-totals th.mark {
    text-align: right;padding-right: 0}
.customer-account-create form.form-create-account .field.choice.verifyemail{padding: 0 5px}    
.customer-account-create form.form-create-account .field.choice.verifyemail label.label,    
.customer-account-create form.form-create-account .field.choice.verifyemail input.checkbox{float: right;}    
.panel.wrapper .panel.header .switcher.language.switcher-language:before, .header .minicart-wrapper:before{left: auto;right: 0}
.panel.wrapper .panel.header .switcher.language.switcher-language{padding:2px 15px 0 0px;margin-left: 0;margin-right: 15px; }
header .header-right .links li a {float: none;direction: rtl;}
.nav-sections .navigation .level0{float: right;}
.nav-sections .navigation .level0.nav-3{float: left;}
.panel.wrapper .panel.header .switcher.language.switcher-language strong img {
    margin-left: 10px;
    vertical-align: middle;}
header.page-header .switcher .options ul.dropdown a img {margin-right: 0;vertical-align: middle;}
.header-right .links li.authorization-link a:before{margin-left: 10px;margin-right: 0; display: inline-block;}
.checkout-onepage-success .page-title h1{direction: rtl;text-align: right;}
.checkout-onepage-success .block-wrap {width: 100%;float: right;direction: rtl;}
.checkout-onepage-success .image-wrap.hide-below-bpsml {float: right;display: inline-block;}
.checkout-onepage-success .block-wrap .content-wrap {padding: 0px 15px;font-size: 13px;float: right;display: inline-block;}
.checkout-index-index .field-tooltip {right: auto;left: -5px;}
.checkout-index-index .field-tooltip .field-tooltip-content{right: 41px;left: auto;}
.checkout-index-index .field-tooltip .field-tooltip-content:before {border-right-color: transparent;left: 0;border-left-color: #0e4194;
 right: -23px;}
 .checkout-index-index .field-tooltip .field-tooltip-content:after {border-right-color: transparent;width: 1px;z-index: 4;right: -22px;
    border-left-color: #fff;left: auto;}
.contact-index-index .page-main .columns .column.main .contact_us_additional .block-wrap-g ul li{direction: rtl;}
.contact-index-index form.form.contact .actions-toolbar .primary{margin: 0;}
.account .block-collapsible-nav .item.current a, .account .block-collapsible-nav .item.current > strong, .block-collapsible-nav .item a:hover {background-color: transparent;border-color: #00b0e0;color: #00b0e0;font-weight: normal;border-left: 0;border-right: 3px solid #00b0e0;}
.account main.page-main .column.main .form legend.legend, .account .page-main .columns .column.main .block-title, .account main.page-main .column.main .form.form-edit-account legend.legend, .account main.page-main .column.main .form-address-edit legend.legend{text-align: right;direction: rtl;}
.account .page-main .columns .column.main .block-title.order a.action.view, .account .page-main .columns .column.main .block-title a.action.edit {float: left;padding: 5px 0;margin: 0 0 0 0;}
.account main.page-main .column.main .block.events-box .col-sm-2:before{left: auto;right: 0}
/*.account main.page-main .column.main .block.events-box .col-sm-2 span{padding-left: 0; padding-right: 30px;}*/
.account main.page-main .column.main .block.calender-event .events-calendar-previous i {transform: rotate(-180deg);}
.account main.page-main .column.main .block.calender-event .events-calendar-next i {transform: rotate(-180deg);}
.account main.page-main .column.main .block.calender-event .t-right {text-align: left;}
.account main.page-main .column.main .block.calender-event .events-calendar td.calendar-day .day-number{left: 4px;right: auto;}
.account main.page-main .column.main .block.calender-event .events-calendar td:first-child {border-left: 1px solid #e5e5e5 !important;}
.account .sidebar-main .block-collapsible-nav .item a, .account .block-collapsible-nav .item>strong{border-left: 0; border-right: 3px solid #fff}
.account main.page-main .column.main .block.calender-event .events-calendar td.calendar-day-np, .account main.page-main .column.main .block.calender-event .events-calendar td.calendar-day{border-left: 0;border-right: 1px solid #e5e5e5}
.account .page-title-wrapper h2.page-title{margin-right: 0 !important}
.account .table-wrapper.orders-history thead th.col{text-align: right;direction: rtl;}
.account main.page-main .column.main select{padding: 0 15px 0 30px}
.account .order-products-toolbar.toolbar.bottom .pages{float: right;}
.account main.page-main .column.main .pager p.toolbar-amount, .account main.page-main .column.main .limiter{float: left;}
.account .order-products-toolbar.toolbar.bottom .pages li.item a.action.next, .account .order-products-toolbar.toolbar.bottom .pages li.item a.action.previous{transform: rotate(-180deg);}
.account .page-main .column.main .actions-toolbar .primary{float: right;}
.account .page-main .column.main .actions-toolbar .primary{margin: 0}
.account main.page-main .column.main .block.block-balance-history .table-wrapper.balance-history th.col {text-align: right;}
.account main.page-main .column.main .block.block-balance-history .table-wrapper.balance-history td.col {border-top: 1px solid #e5e5e5;}
.account aside.modal-popup .modal-content .event-item-qty span, .account aside.modal-popup .modal-content .event-item-price span{float: right;}
/*.account aside.modal-popup header.modal-header {position: absolute;right: auto;left: 0;}*/
.modal-custom .action-close, .modal-popup .action-close, .modal-slide .action-close{right: auto;left: 0}
.product-info-water .calculator .calc-adults .calc-inner img, .product-info-water .calculator .calc-kids .calc-inner img{right: 10px; left: auto;}
.product-info-water .calculator .calc-adults .number, .product-info-water .calculator .calc-adults .bottles-total, .product-info-water .calculator .calc-kids .number, .product-info-water .calculator .calc-kids .bottles-total, .product-info-water .calculator .calc-recommend .number{padding: 11px 49px 14px 38px}
.product-info-water .calculator .calc-adults .number .cc-plus, .product-info-water .calculator .calc-adults .bottles-total .cc-plus, .product-info-water .calculator .calc-kids .number .cc-plus, .product-info-water .calculator .calc-kids .bottles-total .product-info-water .cc-plus, .product-info-water .calculator .calc-recommend .number .cc-plus, .product-info-water .calculator .calc-recommend .bottles-total .cc-plus, .product-info-water .calculator .calc-adults .number .cc-minus, .product-info-water .calculator .calc-adults .bottles-total .cc-minus, .product-info-water .calculator .calc-kids .number .cc-minus, .product-info-water .calculator .calc-kids .bottles-total .cc-minus, .product-info-water .calculator .calc-recommend .number .cc-minus, .product-info-water .calculator .calc-recommend .bottles-total .cc-minus{left: 0;right: auto;}
.product-info-water .calculator .calc-input{float: right;}
span.ewal_icon{right: auto;left: 3%}
.account main.page-main .columns .storecredit .block.block-balance-history .table-wrapper.balance-history td.col.change.negetive, .account main.page-main .columns .storecredit .block.block-balance-history .table-wrapper.balance-history thead th.col.change, .account main.page-main .columns .storecredit .block.block-balance-history .table-wrapper.balance-history td.col.change.positive{background-position: right 13px;}
.account main.page-main .columns .storecredit .block.block-balance p span{float: right;}
.account main.page-main .column.main .block ul li{ float: right;margin-left: 15px; margin-right: 0; }
.account.customer-address-index .page-title.title-buttons{float: left;}
/*5-GALLON QUICK SHOP*/
.categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li, .categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li a{float: right;}
.categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li a span.circle:before{left: auto;    right: 102px;}
.categorypath-5-gallon-quick-shop .quickshop-box .three-stapes button#continue{ left: 45px;right: auto;}
.categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li.active.completed .brand-box-add{left: auto;right: 53px;padding: 7px 38px 7px 7px}
.categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li.active.completed .brand-box-add .brand-logo{float: right;}
.categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li.active.completed .brand-box-add .brand-dis{float: right;text-align: right;}
.categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li.active.completed .delivery-box-add{padding: 7px 45px 7px 7px;left: auto;right: 64px}
.categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li.active.completed .delivery-box-add .delivery-logo{float: right;}
.categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li.active.completed .delivery-box-add .brand-dis{float: right;}
.categorypath-5-gallon-quick-shop .quickshop-box .calculator .calc-input {border-right: 0;text-align: left;margin: 30px 0;float: right;border-left: 1px solid #e5e5e5;}
.account main.page-main .column.main .events-calendar td.calendar-day .day-number{right: auto;left: 4px}
.categorypath-5-gallon-quick-shop .quickshop-box .calculator .calc-input .calc-adults .calc-inner .number, .categorypath-5-gallon-quick-shop .quickshop-box .calculator .calc-input .calc-kids .calc-inner .number{float: left;}
.categorypath-5-gallon-quick-shop .quickshop-box .calculator .calc-input .calc-adults h6, .categorypath-5-gallon-quick-shop .quickshop-box .calculator .calc-input .calc-kids h6{float: right;}
.categorypath-5-gallon-quick-shop .quickshop-box .calculator .calc-input .calc-adults .calc-inner .number .cc-plus, .categorypath-5-gallon-quick-shop .quickshop-box .calculator .calc-input .calc-kids .calc-inner .number .cc-plus{right: auto;left: 0}
.categorypath-5-gallon-quick-shop .quickshop-box .calculator .calc-input .calc-adults .calc-inner .number .cc-minus, .categorypath-5-gallon-quick-shop .quickshop-box .calculator .calc-input .calc-kids .calc-inner .number .cc-minus{left: auto;right: 0}
/*.categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li.active.completed .delivery-box-add .brand-dis h5.delivery-name{padding: 9px 5px}*/
/*5-GALLON QUICK SHOP*/
.account .new-address-confirmation{float: right;}
.account .new-address-confirmation .large-6.medium-6.small-12.column.hide-below-bpmed{float: right;}
.account .new-address-confirmation .large-6.medium-6.small-12.column{float: right;text-align: right;direction: rtl;}
.account .new-address-confirmation .buttons-set p.back-link {text-align: right;direction: rtl;}
.account .new-address-confirmation .buttons-set p.back-link a:before {
    font-family: FontAwesome;
    /* left: 0; */
    margin-right: 0;
    float: right;
    margin-left: 5px;
    content: "\f138";
}
.catalog-product-view .product-info-main .product-social-links{text-align: right;}
.catalog-product-view .product-info-main .product-social-links a.action.towishlist{margin-right: 0}
header .header-right .minicart-wrapper .block-minicart{border-radius:0px 12px 12px 12px }
.page-wrapper .header.content li.welcome-msg span.customer-greeting{width: 130px}
/*MY COUPONS*/
.account.coupons-index-index #inuse-wrap #go-link{float: left;}
.account.coupons-index-index .page-title-wrapper, .account.coupons-index-index .page-title-wrapper h2.page-title{float: right;}
.account.coupons-index-index #inuse-wrap a.setting-btn{float: right;margin-left: 15px;}
.account.coupons-index-index #inuse-wrap a.btn-blue{margin-left: 0}
.account.coupons-index-index #inuse-wrap #current-book-use #go-link{text-align: left;padding: 0 20px 20px}
.account.coupons-index-index #inuse-wrap #current-book-use #go-link a i, .account.customer-dispensers-index .page-main .columns .column.main .link-container a i {transform: rotate(180deg);margin-left: 0;margin-right: 10px;}
 .account.coupons-index-index #inuse-wrap .data-table thead th, .account.customer-dispensers-index .block table.data-table th{text-align: right;}
 .account.customer-dispensers-index .block table.data-table td a i{margin-right: 0; margin-left: 5px;}
 .account.customer-dispensers-index .page-main .columns .column.main .link-container{text-align: left;}
/*MY COUPONS*/
.account.troubleshooting-index-index .troubleshooting .troubleshooting-questions ul li h3:before{left: auto;right: 0}
.account.troubleshooting-index-index .troubleshooting .troubleshooting-questions ul li h3, .account.troubleshooting-index-index .troubleshooting-answer-content h3{padding-left: 0;padding-right: 40px;}
.account.troubleshooting-index-index .troubleshooting .troubleshooting-questions ul li .troubleshooting-answers{padding: 30px 40px 0 15px}
.account.troubleshooting-index-index .troubleshooting-answer-content h3{padding-right: 0 !important}
.account.troubleshooting-index-index .troubleshooting-select .questions-response a.q-yes:before, .account.troubleshooting-index-index .troubleshooting-select .questions-response a.q-no:before{left: auto;right: 0;margin-right: 0;margin-left: 5px;}
.account.troubleshooting-index-index .troubleshooting-select .questions-response a{padding-left: 0;padding-right: 30px;}
.account.troubleshooting-index-index .troubleshooting-select .questions-response a.q-yes {margin-right: 0;margin-left: 15px;}
.account.troubleshooting-index-index .troubleshooting-select p.back-link a:before {
    font-family: FontAwesome;
    margin-right: 0;
    content: "\f138";
    margin-left: 5px;
}
.minicart-wrapper .action.close {left: 10px;}
header .header-right .minicart-wrapper .block-minicart .product.actions{text-align: right;}
.minicart-wrapper .product .actions>.primary:not(:last-child), .minicart-wrapper .product .actions>.secondary:not(:last-child){margin-right: 0;margin-left: 15px}
.checkout-cart-index .cart-container .form.form-cart .cart.main .or {font-weight: bold;text-transform: uppercase;padding: 10px 25px;float: right;}
li.item.product.product-item .product-item-actions .qty-wrapper{display: none;}
.checkout-cart-index .products-carousel.carousel button.action.tocart.primary.btn-pink {
    width: 100%;
}
.popup-authentication.login-popup .block-authentication .actions-toolbar>.primary{float: right;}
.popup-authentication.login-popup .block-authentication .actions-toolbar>.secondary{float: left;}
.popup-authentication.login-popup .block-authentication .block[class]{width: 100%;padding: 0}
.contact-link.desktop-link{display:block;}
.contact-link.mobile-link{display:none;}
.account .form-edit-account .field.date.field-dob .control.customer-dob .input-text {width: 30%;float: left;margin-bottom: 20px;margin-right: 0;margin-left: 13px;}
input[type="checkbox"]{margin: 2px 0px 0 5px}
.account main.page-main .column.main .block ul li .label-box input[type="checkbox"]{margin: -2px 0px 0 5px}
.account main.page-main .column.main .form legend.legend, .account .page-main .columns .column.main .block-title, .account main.page-main .column.main legend.legend{text-align: right;}
.account.supports-index-index .m-auto.contact-block-one .block-wrap-g ul li i, .contact-index-index .page-main .columns .column.main .contact_us_additional .block-wrap-g ul li i {float: right;margin-left: 10px;margin-top: 7px;}
.account.supports-index-index .contact_us_map .map-info ul li h4:before, .contact-index-index .contact_us_map .map-info ul li h4:before {float: right;margin: 3px 0 0 6px;}
.account.customer-documents-index .table-wrapper.orders-history table a.go-link-grey i,
.account.customer-documents-index .table-wrapper.orders-history table a.download-pdf i {margin-right: 0;float: right;margin-left: 5px;margin-top: 4px;}
.account.customer-documents-index .table-wrapper.orders-history table a.go-link-grey {float: left;text-align: left;}
.account.customer-documents-index .table-wrapper.orders-history table th, .account.customer-documents-index .table-wrapper.orders-history table td{text-align: right;}
.account.customer-documents-index .page-title.title-buttons, .account.customer-address-index .page-title.title-buttons{float: left;}
.header-right .links li.customer-welcome.active .customer-menu:before {content: '';width: 0;height: 0;border-left: 8px solid transparent;border-right: 8px solid transparent;border-bottom: 8px solid #eee;position: absolute;right: auto;left: 11px;top: -8px;}

.header-right .links li.customer-welcome.active .customer-menu:after {
    content: '';
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    right: auto;left: 11px;
    top: -6px;
}
.page-header .switcher .options{width: 100px;}
.minicart-wrapper .action.close:before{display: none;}
ul.cms-menu li>a{border-right: 3px solid #fff;border-left:0px solid #fff }
ul.cms-menu li>a:hover, ul.cms-menu li>a:focus,
ul.cms-menu li>strong {border-right: 3px solid #00b0e0;border-left: 0px solid #00b0e0;}   
.faq-account button.collapsible, .cms-faq button.collapsible, .cms-ewallet-faq button.collapsible{text-align: right;}
.faq-account button.collapsible::after, .cms-faq button.collapsible::after, .cms-ewallet-faq button.collapsible::after{float: left;}
.product-info-main .product-add-form .box-tocart .actions {float: left;}
.page-wrapper .header.content .header-right .ewallet-bal span.ewal_icon{float: right;}
.account main.page-main .column.main .events-calendar td.calendar-day-np, .account main.page-main .column.main .events-calendar td.calendar-day{border-left: 1px solid #e5e5e5 !important}
.account main.page-main .column.main .events-calendar td.calendar-day-np:last-child, .account main.page-main .column.main .events-calendar td.calendar-day:last-child{border-left: 0 !important}
.account main.page-main .column.main .block.events-box .col-sm-2 span{padding:11px 30px 11px 0px}
.checkout-payment-method .ccard>.field.cvv>.control {display: inline-block;padding-right: 0;margin-left: 20px;}
.checkout-index-index .field-tooltip {right: auto;left: -40px;}
.checkout-index-index .checkout-payment-method .ccard.fieldset > .field .fields.group.group-2 .field.no-label.month {margin-left: 15px;}
.checkout-cart-index .page-main .columns .column.main .carousel .product-item,
.products.products-grid .product-item-info:hover, .products.products-grid .product-item-info.active,
.products .product-item .product-item-info{text-align: right;}
.catalog-product-view a.product_file_download{float: left;text-align: left;}
.checkout-cart-index .page-main .columns .column.main .product-item .vat_label, .catalog-product-view .page-main .columns .column.main .product-item .product.details.product-item-details .vat_label, .products-grid .product-item-info .vat_label{float: left;}
.cart.table-wrapper .item-options dd, .minicart-items .product-item-details .product .options.list dd, .opc-block-summary .items-in-cart .product .item-options dd, .block-giftregistry-shared-items .product .item-options dd, .multicheckout .item-options dd,
.account .form-edit-account .field.date.field-dob .control.customer-dob .input-text,
.page-main .columns .column.main .product-item .product-item-details .price-box{float: right;}
.cart.table-wrapper .item-options dt, .minicart-items .product-item-details .product .options.list dt, .opc-block-summary .items-in-cart .product .item-options dt, .block-giftregistry-shared-items .product .item-options dt, .multicheckout .item-options dt {clear: left;float: right;margin: 0 0px 5px 10px;}
.account .form-edit-account .field.date.field-dob .control.customer-dob .input-text.dob-day{width: 63px;}
.account.sales-order-view .page-main .column.main .actions-toolbar {float: left;text-align: left;margin: -25px 0 0 0;}
.account.sales-order-view .page-main .column.main .actions-toolbar a.action{float: left;}
.account.sales-order-view .page-main .column.main .actions-toolbar a.action:before{content: "\f137";font-family: FontAwesome;margin-left: 3px;}
.account.sales-order-view .page-main .column.main .actions-toolbar a.action:after{display: none;}
.account.sales-order-view .table-wrapper.orders-history table a.download-pdf i{margin-right: 0;margin-left: 10px}
.account.sales-order-view div#digitalinvoicestatus-wrap .invoice-status a i,
.account.sales-order-view .table-wrapper.orders-history table a.go-link-grey i {margin-left: 0;font-size: 16px;margin-right: 10px;transform: rotate(180deg);}
.account.sales-order-view .table-wrapper.orders-history table th, .account.sales-order-view .table-wrapper.orders-history table td{text-align: right;}
.account main.page-main .column.main .form.form-edit-account.toggle-form {border: 0;border-radius: 0;padding: 0;}
.account main.page-main .column.main .form.form-edit-account.toggle-form .change-pass-btn{float: left;width: 100%;cursor: pointer;padding: 0;}
.account main.page-main .column.main .form.form-edit-account.toggle-form .change-pass-btn input {display: none;}

.account main.page-main .column.main .form.form-edit-account.toggle-form .panel {display: none;width: 100%;padding-top: 15px;margin-top: 0;}
.account main.page-main .column.main .form.form-edit-account.toggle-form .change-pass-btn label i,
.account main.page-main .column.main .form.form-edit-account.toggle-form .go-link-grey.edit-form-link i{margin-left: 0px;margin-right: 5px;transform: rotate(180deg);}
.account main.page-main .column.main .form.form-edit-account.toggle-form .change-pass-btn label,
.account main.page-main .column.main .form.form-edit-account.toggle-form .go-link-grey.edit-form-link {float: left;width: 100%;padding: 5px 15px;font-weight: normal;font-family: 'GothamRounded-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    cursor: pointer;font-size: 14px;}

/*EWALLET TOPUP*/
.account.customer-address-index .page-main .actions a:after{display: none;}
/*.account.customer-address-index .page-main .actions a:before {content: "\f137";font-family: FontAwesome;margin-right: 5px;}*/
/*.account.customer-address-index .page-main .actions #suspend-delivery a:after{content: "\f137";font-family: FontAwesome;margin-right: 5px;display:inline-block;}*/
.account.customer-address-index .page-main .actions #suspend-delivery a:before{display: none;}
.page-product-bundle .bundle-options-container .block-bundle-summary .bundle-info .box-tocart .fieldset .field.qty, .managelocation-index-index .page-main .columns{float: right;}
.location-section ul.form-list label:before{margin-left: 5px;}
.location-section .right-box {border-left: 0px solid #728ebb;border-right: 1px solid #728ebb;}
.location-section ul.form-list label{text-align: left;}
.page-product-bundle .product-info-main .product-info-price p span.price-container span.price-wrapper{float: right;}
.page-product-bundle .bundle-options-container{float: left;}
.page-product-bundle .bundle-options-container .block-bundle-summary .bundle-info .box-tocart .fieldset .field.qty label.label{float: right;padding: 11px 0px 11px 10px}
.category-topup .page-main .columns .column.main .product-item .product.details.product-item-details .qty-wrapper .input-qty-box input.minus{left: auto;right:0;}
.category-topup .page-main .columns .column.main .product-item .product.details.product-item-details .qty-wrapper input.plus{left: 0;right: auto;}
.category-topup .ewallerpopup-box .buynow {text-align: left;right: auto;left: 20px;}
.category-topup .ewallerpopup-box .total {left: auto;text-align: left;}
.category-topup .page-main .columns .column.main .product-item .product-item-details .price-box{float: none;}
/*EWALLET TOPUP*/
body.account.wishlist-index-index .page-main .columns .toolbar.wishlist-toolbar .pager .pages {position: relative;float: left;width: auto;order: 1;margin: 9px 30px 0 0px;}
body.account.wishlist-index-index .page-main .columns .toolbar.wishlist-toolbar .pager p.toolbar-amount {float: right !important;}
body.account.wishlist-index-index .page-main .columns .toolbar.wishlist-toolbar .pager .pages li.item a.action.previous,
body.account.wishlist-index-index .page-main .columns .toolbar.wishlist-toolbar .pager .pages li.item .action.next {transform: rotate(-180deg);}
.account.wishlist-index-index .form-wishlist-items .product-item .product-item-info .product-item-inner .box-tocart .field.qty {float: right;}
.account.wishlist-index-index .form-wishlist-items .product-item .product-item-info .product-item-inner .box-tocart fieldset.fieldset .product-item-actions{float: left;}
.account.wishlist-index-index .form-wishlist-items .product-item .product-item-info .product-item-inner .box-tocart .field.qty label.label {margin-right: 0;margin-left: 10px;}
.account.wishlist-index-index .page-main .columns .column.main .product-item .product.details.product-item-details .product-item-actions a.btn-remove.action.delete{right: auto;left: 25px}
.account.wishlist-index-index .page-main .columns .column.main .product-item .product.details.product-item-details .product-item-actions a.action.edit{left:auto;right: 25px;margin-right: 0}
.checkout-index-index .opc-wrapper .step-content .form.payments .items.payment-methods .checkout-agreements.fieldset .checkout-agreement.field.choice.required input[type="checkbox"]{left: auto;right: 0;top: 0px;}
.checkout-index-index .opc-wrapper .step-content .form.payments .items.payment-methods .checkout-agreements.fieldset label.label{padding-left: 0;padding-right: 30px;float: right;}
.checkout-payment-method .payment-method._active .payment-method-content .checkout-agreements-block{float: left;width: 100%;}
.account main.page-main .column.main .form.form-edit-account fieldset.fieldset.info .field.date.field-dob {position: relative;}
.account main.page-main .column.main .form.form-edit-account fieldset.fieldset.info .field.date.field-dob div#dob_dd-error{position: absolute;bottom: 0px;right: 21px;left: auto;}
.account main.page-main .column.main .form.form-edit-account fieldset.fieldset.info .field.date.field-dob div#dob_mm-error {position: absolute;bottom: -14px;right: 21px;left: auto;}
.account main.page-main .column.main .form.form-edit-account fieldset.fieldset.info .field.date.field-dob div#dob_yy-error {position: absolute;bottom: -28px;}

@media screen and (max-width:1360px){
    .header-right .block-search{width: 37%}
    .products-carousel.carousel .home_carousel.owl-carousel.owl-theme.product-items button.owl-prev,
    .page-main .carousel-container #banner-slider-carousel .owl-nav button.owl-prev {
        left:auto;right: 0;
    }
    .products-carousel.carousel .home_carousel.owl-carousel.owl-theme.product-items button.owl-next,
    .page-main .carousel-container #banner-slider-carousel .owl-nav button.owl-next{
        right:auto;left: 0;
    }
}


@media screen and (max-width:1200px){
    .account.wishlist-index-index .page-main .columns .column.main .product-item .product.details.product-item-details .product-item-actions a.btn-remove.action.delete{left: 15px}
    .account.wishlist-index-index .page-main .columns .column.main .product-item .product.details.product-item-details .product-item-actions a.action.edit{right: 15px}
	.pramotion-section .pramotion-bar span{ margin-left: 5px; }
}
@media screen and (min-width: 1100px){ 
   .col-left.sidebar.cms_left_sidebar { width: 25%; float: right;padding-left: 2%;padding-right: 0 } 
   .col-right.sidebar.cms_right_sidebar { width: 75%; float: left; } 
}
@media screen and (max-width: 1024px) {
    .account.wishlist-index-index .page-main .columns .column.main .product-item .product.details.product-item-details .product-item-actions a.btn-remove.action.delete{float:left;}
    .account.wishlist-index-index .page-main .columns .column.main .product-item .product.details.product-item-details .product-item-actions a.action.edit{float: right;}
    .header-right .block-search{width: 30%}
}

@media screen and (max-width:767px){
	.checkout-index-index .opc-estimated-wrapper .estimated-block{float: right;}
	.checkout-index-index .opc-estimated-wrapper .minicart-wrapper, .checkout-index-index .checkout-payment-method .actions-toolbar .primary {float: left;}

}

@media screen and (min-width:768px){
    /*.checkout-cart-index .cart-container .form.form-cart .cart.main .action.continue{padding: 0}*/
    .abs-discount-block-desktop .block:nth-child(1), .amazon-addresses .amazon-address:nth-child(1), .login-container .block:nth-child(1), .account .column.main .block:not(.widget) .block-content .box:nth-child(1), .form-address-edit>.fieldset:nth-child(1), .form-edit-account .fieldset:nth-child(1), .storecredit .block:nth-child(1), .paypal-review-discount .block:nth-child(1), .cart-discount .block:nth-child(1){clear: right !important;float: right !important;direction: rtl;}
	.nav-sections .navigation .level0.parent>.level-top {padding-left: 15px;}
	.nav-sections .navigation .level0.parent>.level-top>.ui-menu-icon{left:0; right: auto;}
	.checkout-index-index .checkout-payment-method .actions-toolbar .primary{float:left;}
	.checkout-index-index .opc-wrapper {
	    width: 66.66666667%;
	    float: right;
	    -ms-flex-order: 2;
	    -webkit-order: 2;
	    order: 2;
	    padding-right: 0;
	    padding-left: 30px;
	}
	.checkout-index-index .opc-sidebar {
	    margin: 46px 0 20px;
	    width: 33.33333333%;
	    float: right;
	    -ms-flex-order: 2;
	    -webkit-order: 2;
	    order: 1;
	}
	.cart.table-wrapper .product-item-photo{padding-left: 20px;padding-right: 0px;}
	.page-layout-1column .product-info-main{float: left;}
	.page-layout-1column .product.media{float: right;}
	.page-layout-2columns-left .page-main .sidebar-main .title{text-align: right;}
	.customer-account-login .login-container .block-new-customer:nth-child(1){float: right;clear: right;}
	.customer-account-login .login-container .block-customer-login:nth-child(2){float: left;clear: left;}
	.page-layout-2columns-left .page-wrapper .page-main .sidebar-main{padding-right: 0;
		padding-left: 2%}
	.page-layout-2columns-left .page-wrapper .page-main .sidebar-additional {
	    clear: right;
	    float: right;
	    padding-left: 2%;
	    padding-right: 0;
	}
	.products.wrapper ~ .toolbar .limiter{float: left;}
}
@media screen and (max-width:980px){
    .account.wishlist-index-index .page-main .columns .column.main .product-item .product.details.product-item-details .product-item-actions a.btn-remove.action.delete{left: 10px}
    .account.wishlist-index-index .page-main .columns .column.main .product-item .product.details.product-item-details .product-item-actions a.action.edit{right: 10px}
    .location-section ul.form-list .lable-box {max-width: 140px;flex: 140px;}
    .location-section .right-box{border:0;}
    .account .table-wrapper.orders-history .col {width: 33.33%;}
    .account .table-wrapper.orders-history tbody tr td.col.actions a{float: right;}
    .account.sales-order-history .col[data-id="285"]{display: none !important;}
    .account.sales-order-history .col.date, .account.sales-order-history .col.receipts, .account.sales-order-history .col.invoice, .account.sales-order-history .col.delivery-notes, .account.sales-order-history .col.shipping, .account.sales-order-history .col.status, .account.sales-order-history .col[data-id="277"], .account.sales-order-history .col[data-th="Status"]{display: none !important;}
    .account .table-wrapper.orders-history tbody tr td.col.actions a {display: block;float: left;}
    .account .table-wrapper.orders-history tbody tr td.col.actions a i {font-size: 16px;color: #666;vertical-align: middle;margin-right: 0;margin-left: 3px;float: right;}
    .account.customer-address-index .address-box h4{float: right;width: 100%}
    .account main.page-main .notifications-block .communication-optin, .account main.page-main .order-confirmation {margin-top: 25px;}
    html, body {height: 100%;overflow-x: hidden;}
    .checkout-index-index .checkout-container .opc-sidebar.opc-summary-wrapper .opc-block-summary span.title{font-size:14px}
    .checkout-cart-index .cart-container{padding-bottom: 0;}
    .new-class-name{padding-bottom: 0;margin-bottom: 20px;}
    .checkout-cart-index .page-title-wrapper {padding-top: 0;}
    .checkout-cart-index .cart-container .cart-summary .grand.totals strong{font-size: 14px;}
    .checkout-cart-index .cart-container .form-cart {width: 100%;float: left;padding:0 15px;}
    .nav-sections .navigation .level0>.level-top{font-size: 12px;}
	.cart.table-wrapper .cart.items.data.table tr .col.name .product-item-details
    .product.attribute.description .accordion-mobile.accordion:after{float: left;}
    .categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li a span.circle{float: right;}
    .categorypath-5-gallon-quick-shop .quickshop-box .three-stapes button#continue {
        left: 20px;
        /* top: 26px; */
        right: auto;
        float: left;
    }
    .categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li a span.circle:before {
        left: auto;
        right: 0;
    }
    .categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li a span.label{float: right;}
    .categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li.active.completed .brand-box-add {
        left: 0;
        right: auto;
        padding: 7px 7px 7px 7px;
    }
    .categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li.active.completed .delivery-box-add {
        padding: 7px 7px 7px 7px;
        left: 0;
        right: auto;
    }
    .categorypath-5-gallon-quick-shop .quickshop-box .calculator .calc-input{ border-left: 0; }
}
@media screen and (max-width:900px){
    .location-section ul.form-list label {
        text-align: right;
    }
}
@media screen and (max-width:800px){
    .category-topup .ewallerpopup-box .total {
        left: 20px;
        text-align: left;
        right: auto;
    }
}
@media screen and (max-width:768px){
    .checkout-index-index .field-tooltip {right: auto;left: 0;}
    .account .table-wrapper.orders-history tbody tr td.col.actions a{float: right;}
    .account .table-wrapper.orders-history tr{display: flex;}
    .sections.nav-sections .navigation .level0.nav-2 .submenu li.nav-2-1 a:before, .sections.nav-sections .navigation .level0.nav-2 .submenu li.nav-2-2 a:before{left: auto;right: 0}
    .sections.nav-sections .navigation .level0.nav-2 .submenu li a{padding: 13px 50px 13px 20px}
    .account.sales-order-view main.page-main .column.main .block .block-content {margin: 0;padding: 0;}
    .account.sales-order-view ul.items.order-links,
    .account.sales-order-view .column.main ul.items.order-links li strong{font-size: 14px;margin: 0}
    .account .column.main ul.items.order-links li strong{font-size: 14px;margin: 0}
    .account.sales-order-view .order-details-items .order-title{padding: 10px 15px}
    .account.sales-order-view .order-details-items .order-title strong{font-size: 16px;}
    .account.sales-order-view .page-title-wrapper span.order-status{margin: 0 !important}
    .account.sales-order-view .page-main .page-title-wrapper h2.page-title{margin: 0 0 5px 0}
    .account.sales-order-view .page-main .column.main .actions-toolbar{margin: 0}
    .catalogsearch-result-index.page-with-filter .toolbar.toolbar-products .pages{display: none}
    .account .block-collapsible-nav .content{width: 100%}
    .page-layout-2columns-left .page-main .sidebar-main .title strong{font-size: 14px;}
    .account.page-layout-2columns-left .page-main .sidebar-main .title {padding: 10px 15px;height: 39px;}
    header .header-right .minicart-wrapper .action.showcart:before, header .header-right .minicart-wrapper .action.showcart.active:before{margin: 0;}
    .header-right .minicart-wrapper .action.showcart .counter.qty{right: 17px;}
    header .header-right .links li a{float: left;}
    .header-right .links li.customer-welcome.active .customer-menu{right: auto;left: 0;}
    .page-wrapper .header.content .header-right .header.links li.customer-welcome .customer-name .action.switch::before{margin: 5px 10px;}
    .block-wishlist-management .wishlist-select .wishlist-name:after, .block-collapsible-nav .title:after {
        position: absolute;right: auto;top: 10px;left: 20px;}
    .account.page-layout-2columns-left .page-main .sidebar-main .title{text-align: right;}
	.checkout-index-index .field-tooltip .field-tooltip-content {right: auto;left: -11px;}
	.checkout-index-index .field-tooltip .field-tooltip-content:after {border-right-color: transparent;width: 1px;z-index: 4;right: auto;border-left-color: transparent;left: 10px;}
	.checkout-index-index .field-tooltip .field-tooltip-content:before {border-right-color: transparent;left: 10px;border-left-color: transparent;right: auto;}
	.checkout-onepage-success .image-wrap.hide-below-bpsml{display: none;}
	.checkout-onepage-success .block-wrap .content-wrap{padding: 0 0 0 0}
	.cms-home .products-carousel.carousel .home_carousel.owl-carousel.owl-theme.product-items button.owl-next, .cms-home .page-main .carousel-container #banner-slider-carousel .owl-nav button.owl-next{right: auto;left: 0px;}
.cms-home .products-carousel.carousel .home_carousel.owl-carousel.owl-theme.product-items button.owl-prev, .cms-home .page-main .carousel-container #banner-slider-carousel .owl-nav button.owl-prev{left: auto;right: 0px;}
	.cart.table-wrapper td.col.remove {
    position: absolute;
    right: auto;
    top: -22px;
    width: auto;
    left: 0;
}
	.cart.table-wrapper .cart.items.data.table .col.qty .action.action-edit{right: auto;left: 0px;margin: 0;}
	.cart.table-wrapper .cart.items.data.table tr .col.price span.price-excluding-tax, .cart.table-wrapper .cart.items.data.table .col.qty .field.qty, .cart.table-wrapper .cart.items.data.table tr .col.subtotal span.price-excluding-tax {
    float: right;
    padding-left: 0;
    padding-right: 10px;
}
	.cart.table-wrapper .col.qty[data-th]:before, .cart.table-wrapper .col.price[data-th]:before, .cart.table-wrapper .col.subtotal[data-th]:before, .cart.table-wrapper .col.msrp[data-th]:before{float: right;}
	.cart.table-wrapper .cart.items.data.table .col.qty, .cart.table-wrapper .cart.items.data.table tr .col.price, .cart.table-wrapper .cart.items.data.table tr .col.subtotal, .cart.table-wrapper .cart.items.data.table tr .col.name{text-align: right;}
	.page-products .sorter {
	        float: right;
        margin-left: 0px;
        order: 2;
        width: auto;
        text-align: left;
        padding-left: 0;
        /*padding-right: 220px;*/
	}
	.sidebar.sidebar-main .block.filter .block-subtitle {
	    background-position: 11px;
	}
	.nav-open .sections.nav-sections {
	    position: fixed;
	    background-color: transparent;
	    z-index: 99;
	    width: 87%;
	    left: auto;
	    right: 0;
	}
	.contact-index-index .contact_us_additional {
	    float: left;
	    width: 100%;
	}
	.contact-index-index .contact_us_additional .block-wrap-g{max-width: 100%}
	.contact-index-index .contact_us_map {
	    width: 100%;
	    float: left;
	    max-width: 100%;
	}
	.sidebar.sidebar-main .block.filter .action.remove {
	    left: 0;
	    right: auto;
	}
	.filter.active .filter-title strong:after {
	    position: fixed;
	    left: 15px;
	    top: 12px;
	    cursor: pointer;
	    right: auto;
	}
	.section-item-title.nav-sections-item-title.active a:before{left: auto;right: 0;}
	.section-item-title.nav-sections-item-title.active a{float: right;}
	.navigation .parent .level-top:after{
		left: 20px; right: auto;top:18px;
	}
	.nav-before-open.nav-open .sections.nav-sections .nav-sections-items{
		text-align: right;
		right: 0;left: auto;
	}
	.header-right .block-search .label{
		right: auto;left: 10px;
	}
	header .nav-toggle{
		right: 15px;left: auto;
	}
	.header-right .block-search{
		left: 15px;right: auto;
        width: 80%;
	}
    .checkout-cart-index .cart-container .form.form-cart .cart.main .action.continue,
    .checkout-cart-index .cart-container .form.form-cart .cart.main .action.clear,
    .checkout-cart-index .cart-container .form.form-cart .cart.main .action.update{font-size: 12px;padding: 8px 10px;height: 35px;line-height: inherit;}
}
@media screen and (max-width:603px){
    .categorypath-5-gallon-quick-shop .quickshop-box .calculator .calc-input .calc-adults h6, .categorypath-5-gallon-quick-shop .quickshop-box .calculator .calc-input .calc-kids h6{padding: 0 50px 0 0px;text-align: right;}
    .categorypath-5-gallon-quick-shop .quickshop-box .calculator .calc-input .calc-adults .calc-inner:before, .categorypath-5-gallon-quick-shop .quickshop-box .calculator .calc-input .calc-kids .calc-inner:before{left:auto;right:0}
}
@media screen and (max-width:680px){
    .category-topup .ewallerpopup-box .buynow {text-align: right;right: auto;left: 0;}
    .category-topup .ewallerpopup-box .total{text-align: right;left: 0}
    /*.cart.table-wrapper .cart.items.data.table .col.qty{}*/
    .account main.page-main .column.main .block.events-box .key-technical_intervention.col-sm-2 {margin-left: 2%;margin-right: 12%;margin-bottom: 0;}
    .account.customer-documents-index .table-wrapper.orders-history .col:nth-child(1) {width: 25%;}
    .account.coupons-index-index #inuse-wrap #redeemed-coupons-history.common-coupons td {width: 33.33%;display: inline-block;word-break: break-all;}
    .account.coupons-index-index #inuse-wrap #redeemed-coupons-history.common-coupons tr {display: flex;}
    .account.coupons-index-index #inuse-wrap #redeemed-coupons-history.common-coupons th {width: 33.33%;}
    .account main.page-main .columns{margin-bottom: 0}
    .account main.page-main .column.main .giftcard-account, .account main.page-main .column.main .form, .account main.page-main .column.main .block, .account main.page-main .column.main .form.form-edit-account, .account main.page-main .column.main .form-address-edit{margin-bottom: 20px;}
    .account main.page-main .column.main .block.events-box .col-sm-2 span {
        font-size: 12px;
        padding-right: 24px;
        padding-left: 0px;
        padding-top: 7px;
    }
}
@media screen and (max-width:640px){
    .cms-home .page-main .columns .column.main .products-carousel .owl-nav.disabled button.owl-prev{right: auto;direction: ltr;}
    .cms-home .page-main .columns .column.main .products-carousel .owl-nav.disabled button.owl-next{direction: ltr}
    .pramotion-section .pramotion-bar{float: right;text-align: center;}
	.customer-account-create form.form-create-account .phone_section .left_phone{padding-right: 0;padding-left: 10px;}
	.customer-account-create form.form-create-account div.mage-error[generated]{left: 0; right: 15px;}
	.customer-account-create form.form-create-account .field-recaptcha div.mage-error[generated] {
	    right: 15px;left: 0;}
    .contact-link.desktop-link{display:none}
    .contact-link.mobile-link{display:block;}
    .pages .pages-items {
        display: block;
        padding: 0 40px 0 0;
        position: relative;
        white-space: normal;
        z-index: 1;
    }
}



@media screen and (max-width:579px){
    /*.show-mobile-app-popup .mobile-popup-app-box p {
        text-align: right;
        direction: rtl;
    }
    .show-mobile-app-popup .mobile-popup-app-box p a.btn.btn-blue {
        margin-top: 21px;
    }*/
    .location-section ul.form-list .lable-box{max-width: 5%; flex: 0 0 5%}
    .location-section ul.form-list label {
        text-align: left;
        margin-bottom: 12px;
        padding: 0;
        font-size: 0px;
    }
    .page-products .sorter{float: left;}
    .categorypath-5-gallon-quick-shop .quickshop-box .three-stapes ul.stepper.stepper-horizontal li.active.completed .delivery-box-add{padding: 8px 13px}
    /*01072020*/
    
    header .header-right .minicart-wrapper .action.showcart:before, header .header-right .minicart-wrapper .action.showcart.active:before{margin-left: 0}
    .header-right .minicart-wrapper .action.showcart .counter.qty{right: 18px;}
    .account main.page-main .column.main .block ul li.fields.quantity-fields.row label {width: 25%;}
    .account main.page-main .column.main .block ul li.fields.quantity-fields.row .input-box {width: 75%;}
    .account .form-edit-account .field.date.field-dob .control.customer-dob .input-text{margin-bottom: 0;width: 29%}
    .account.customer-account-edit fieldset.password, .account.page-layout-2columns-left .column.main .addresses-list .right-access {margin-top: 20px;}
    .account.customer-address-index .page-title.title-buttons {float: right;}
    .account.sales-order-history .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr td, .account.sales-order-history .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison)>tbody>tr th, .account.sales-order-history .table-wrapper.orders-history .table:not(.totals):not(.cart):not(.table-comparison)>thead>tr>th {padding: 10px 9px;}
    .account.customer-dispensers-index .page-main .columns .column.main .block-title,
    .account.coupons-index-index #inuse-wrap .common-coupons .order-products-toolbar.toolbar.bottom,
    .account.coupons-index-index #inuse-wrap .block-title{margin: 0 !important}
    .account.coupons-index-index #inuse-wrap #go-link-footer{margin-bottom: 30px;}
    .account.coupons-index-index #inuse-wrap #go-link{margin-bottom: 20px;}
    .account.coupons-index-index #inuse-wrap #current-book-use #go-link{padding: 0}
    .account.coupons-index-index #inuse-wrap #current-book-use p{padding: 10px 20px;}
    .customer-commercialcustomer-index .page-main .column.main .inner-page-wrapper ul.form-list li {margin: 0 0 15px 0;}
    .customer-commercialcustomer-index .page-main .column.main .inner-page-wrapper ul.form-list li .field,
    .customer-commercialcustomer-index .page-main .column.main .inner-page-wrapper ul.form-list li .input-box {padding: 0;}
    .customer-commercialcustomer-index .page-main .column.main .inner-page-wrapper form.scaffold-form .fieldset select{height: 42px;padding: 0 20px;}
    .page-main .columns .products.wrapper ~ .toolbar .pages, .toolbar-products.toolbar .pages{padding: 0}
    .pages .pages-items{padding: 0px 25px 0}
    main.page-main .columns{margin-bottom: 20px;}
    .customer-account-create form.form-create-account .field.choice.verifyemail label.label {
        padding: 2px 26px 2px 0px;
    }

}
@media screen and (max-width:480px){
    .panel.wrapper ul li a.contact-link i{float: left;padding: 5px 0;}
    header .header-right .minicart-wrapper .block-minicart{z-index: 999}
    header .header-right .minicart-wrapper .action.showcart.active{width: 100%}
    .header-right .links li.authorization-link{width: 32px;}
    .page-wrapper .header.content{height: 74px;}
    header .header-right .minicart-wrapper{width: 50px;}
    .page-header .switcher .options .action.toggle:after, .page-footer .switcher .options .action.toggle:after{position: absolute;}
    .cart.table-wrapper .cart.items.data.table .col.remove .action.action-delete:before{margin-top: 20px;}
    .cart.table-wrapper .cart.items.data.table tr .col.price{float: left;}
    .page-header .switcher .options{width: 84px}
    .page-header .panel.wrapper ul li,
    .page-header .panel.wrapper ul li a{padding: 0}
    header .header-right .minicart-wrapper .action.showcart{padding: 0px 10px 0px 10px}
    .ewallet-bal a.ewalbtn {margin-right: 0; margin-left: 10px;float: right;top: 9px !important;}
    .ewallet-bal.login{float: right;margin-left: 0}
    .page-wrapper .header.content .header-right .header.links li.customer-welcome .customer-name .action.switch::before {
    margin: 5px 10px;}
    header.page-header .switcher .options ul.dropdown a{font-size: 12px;}
    .page-main .columns .column.main .block-title strong {font-size: 18px;}
    .account main.page-main .column.main .block ul li.fields.quantity-fields.row label,
    .account main.page-main .column.main .block ul li .label-box {
        width: 35%;
    }

    .account main.page-main .column.main .block ul li.sms-fields .phone_field .right_phone{width: 60%}
    .account main.page-main .column.main .block ul li.fields.quantity-fields.row .input-box,
    .account main.page-main .column.main .block ul li .input-box {
        width: 65%;}
          .page-products .sorter{padding: 0}
}

.account .addresses-list .address-box h3.box-title {
    text-align: right;
    margin: 0;
    border-bottom: 1px solid #e5e5e5;
    padding: 15px 20px;
    width: 100%;
    font-size: 20px;
    font-family: "GothamRounded-Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0054a3;
    font-weight: normal;
    margin: 0;
}

.account .addresses-list .address-box p.box-content {
    padding: 10px 20px;
    font-size: 16px;
    color: #666666;
    font-family: 'GothamRounded-Book', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
