<?php /** @var $block \Magento\Checkout\Block\Onepage\Success */ ?>


<?php $helper = $this->helper('Nwuae\Sales\Helper\Order');
$isEnabled =  $this->helper('Nwuae\EWallet\Helper\Data')->isEnabled();
$order = $helper->getOrder($block->getOrderId());

?>

    <div class="page-title">
        <h1><?php echo __('Your order has been received'); ?></h1>
    </div>
    <div class="row">
        <div class="block-wrap">
            <div class="image-wrap hide-below-bpsml">
                <img alt="" src='<?php echo $this->getViewFileUrl('images/thumb-big.jpg')?>'>
            </div>
            <div class="content-wrap">

                <h3 class="success-sub-title no-mobile"><?php echo __('Thank you for your purchase!'); ?></h3>
                <h3 class="success-sub-title no-desktop"><?php echo __('Thank you!'); ?></h3>
                <?php // if($helper->getNotFirstOrder()):?>
                <?php $subscriptionDate = $helper->getSubscriptionDate($order); ?>
                    <?php if ($subscriptionDate): ?>
                        <p class="ex-delivery">
                            <?php // if($isEnabled){ ?>
                                <?php echo __('Your expected delivery date is:'); ?> <span><?php echo $helper->getDeliveryDate($order) ?></span>
                            <?php // } ?>
                            <span><?php echo 'and your '.$helper->getGallonNumber().' Gallon Subscription' ?></span> <?php echo __('will be delivered'); ?> <span><?php echo $subscriptionDate; ?></span>
                        </p>
                    <?php endif; ?>
                <?php // endif; ?>


                <?php if ($block->getOrderId()):?>
                    <?php if (!empty($order->getAcwOrderId())) :?>
                        <p><?= $block->escapeHtml(__('Your order # is: %1.', sprintf('<a href="%s" class="order-number"><strong>%s</strong></a>', $block->escapeUrl($block->getViewOrderUrl()), $order->getAcwOrderId())), ['a', 'strong']) ?></p>
                    <?php  else :?>
                        <!-- <p><?php echo __('Your order # is: '.$block->getOrderId()); ?></p> -->
                    <?php endif;?>
                    <p><?php echo __('You will receive an order confirmation email with details of your order and a link to track its progress.') ?></p>
                    <?php if ($block->getCanViewOrder() && $block->getCanPrintOrder()) :?>
                        <p>
                            <?php echo __('Click <a href='.$block->escapeUrl($block->getPrintUrl()).' onclick="this.target=\'_blank\'">here to print</a> a copy of your order confirmation.') ?>
                            <?php echo $block->getChildHtml() ?>
                        </p>
                    <?php endif;?>
                <?php endif;?>

                <?php if ($block->getAgreementRefId()): ?>
                    <p><?php echo __('Your billing agreement # is: %s.', sprintf('<a href="%s">%s</a>', $block->escapeHtml($block->getAgreementUrl()), $block->escapeHtml($block->getAgreementRefId())))?></p>
                <?php endif;?>

            </div>
        </div>
    </div>
<hr />
<script>
        require([
            'Magento_Customer/js/customer-data'
        ], function (customerData) {
            var sections = ['cart'];
            customerData.invalidate(sections);
            customerData.reload(sections, true);
        });
    </script>