<?php
/**
 * Copyright © Magento, Inc. All rights reserved
 * See COPYING.txt for license details.
 */

// phpcs:disable Magento2.Templates.ThisInTemplate

/** @var Nestle\Sales\Block\Order\History $block */

use Nestle\Sales\Block\Order\History; ?>
<?php $_orders = $block->getOrders();
$customerId = $block->getCustomerId();
$getOrders = $block->getAcwOrder();
$getOrder = '';
//var_dump($getOrders->getItems()); exit();
//foreach ($getOrders->OrderList->OrderList as $_order){
//    print_r($_order->Status); exit();
//}

?>
<?= $block->getChildHtml('pager') ?>
<?php if ($getOrders && count($getOrders)) : ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?= $block->escapeHtml(__('Orders')) ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id" ><?= $block->escapeHtml(__('Order #')) ?></th>
                    <th scope="col" class="col id" ><?= $block->escapeHtml(__('Order Type')) ?></th>
                    <th scope="col" class="col date"><?= $block->escapeHtml(__('Date')) ?></th>
                    <?= $block->getChildHtml('extra.column.header') ?>
                    <th scope="col" class="col shipping" ><?= $block->escapeHtml(__('Ship To')) ?></th>
                    <th scope="col" class="col total" ><?= $block->escapeHtml(__('Order Total')) ?></th>
                    <th scope="col" class="col status"><?= $block->escapeHtml(__('Order Status')) ?></th>
                    <th scope="col" class="col actions t-center"><?= $block->escapeHtml(__('Action')) ?></th>
                    <th scope="col" class="col receipts"><?= $block->escapeHtml(__('Receipts')) ?></th>
                    <th scope="col" class="col invoice"><?= $block->escapeHtml(__('Invoice')) ?></th>
                    <th scope="col" class="col delivery-notes"><?= $block->escapeHtml(__('Delivery Notes')) ?></th>
                </tr>
            </thead>
            <tbody>
<!--            --><?php //var_dump(count($getOrders->OrderList->OrderList));exit(); ?>
                <?php foreach ($getOrders as $_order): ?>
                    <?php
//                    if(isset($_order['MagentoOrderID'])){

                        $getOrder = $block->getMagentoOrder($_order['MagentoOrderID']);
//                    }
                    ?>
                    <tr>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Order #')) ?>" class="col id" ><?= $block->escapeHtml($_order['OrderID']) ?></td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Order Type')) ?>" class="col id" ><?= $block->escapeHtml($_order['OrderType']) ?></td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Date')) ?>" class="col date"><?= /* @noEscape */ $block->formatDate($_order['OrderDate']) ?></td>

                        <td data-th="<?= $block->escapeHtmlAttr(__('Ship To')) ?>" class="col shipping"><?= $_order['Customer'] ?></td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Order Total')) ?>" class="col total"><?= /* @noEscape */  $block->formatPrices($_order['TotalMB']); ?></td>

                        <td data-th="<?= $block->escapeHtmlAttr(__('Status')) ?>" class="col status" id="order-status" data-id="<?php echo $_order['Status'] ?>"><?php echo $_order['Status'] ?></td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Actions')) ?>" class="col actions">
                            <?php if($_order['OrderType'] == 'Website Order'): ?>
                                
                                <a href="<?= $block->escapeUrl($block->getViewUrl($getOrder)) ?>" class="action view">
                                    <i class="icon-view-01"></i><span><?= $block->escapeHtml(__('Order')) ?></span>
                                </a>
                                    <?php 
                                        $isCoupon = 0;
                                        $objectManager = \Magento\Framework\App\ObjectManager::getInstance();
                                        $orderInfo = $objectManager->create('Magento\Sales\Model\Order')->loadByIncrementId($_order['MagentoOrderID']);
                                        
                                        foreach ($orderInfo->getAllVisibleItems() as $_item) {
                                            $product = $objectManager->create('Magento\Catalog\Model\Product')->load($_item->getProductId());
                                            $attributeSetRepository = $objectManager->create('\Magento\Eav\Api\AttributeSetRepositoryInterface')->get($product->getAttributeSetId());
                                               if($attributeSetRepository->getAttributeSetName() == 'Coupon'){
                                                    $isCoupon = 1;
                                               }
                                        }
                                    ?>
                                    <?php if($isCoupon == 0): ?>
                                        <a href="#" data-post='<?= /* @noEscape */
                                        $this->helper(\Magento\Framework\Data\Helper\PostHelper::class)
                                            ->getPostData($block->getReorderUrl($getOrder))
                                        ?>' class="action order">
                                            <i class="icon-reorder-01"></i>
                                            <span><?= $block->escapeHtml(__('Reorder')) ?></span>
                                        </a>
                                    <?php endif; ?>
                                    
                            <?php endif ?>
                        </td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Receipts')) ?>" class="col receipts">
                            <?php if($_order['PaymentID'] > 0){ ?>
                            <a class="text-center new-invoice" target="_blank" href="<?= $block->getReciptURL($_order['PaymentID']); ?>">
                                <i class="icon-receipts-01"></i>
                            </a>
                            <?php }else{ ?>
                                <a class="text-center" >
                                    <i class="icon-receipts-01"></i>
                                </a>
                            <?php } ?>
                        </td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Invoice')) ?>" class="col invoice">
                            <?php if($_order['InvoiceID']){ ?>
                            <a href="<?= $block->getIvoiceUrl($_order['InvoiceID'])  ?>" target="_blank" class="text-center new-invoice" >
                                <i class="icon-invoic-01"></i>
                            </a>
                        <?php }else{ ?>
                                <a class="text-center" >
                                    <i class="icon-invoic-01"></i>
                                </a>
                        <?php } ?>
                        </td>
                        <td data-th="<?= $block->escapeHtmlAttr(__('Delivery Notes')) ?>" class="col invoice">
                            <?php if($_order['OrderID']){ ?>
                                <a href="<?= $block->getDeliveryUrl($_order['OrderID'])  ?>" target="_blank" class="text-center new-invoice" >
                                    <i class="icon-delivery-notes-01"></i>
                                </a>
                            <?php }else{ ?>
                                <a class="text-center" >
                                    <i class="icon-delivery-notes-01"></i>
                                </a>
                            <?php } ?>
                        </td>

                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>

    <?php if ($block->getPagerHtml()) : ?>
        <div class="order-products-toolbar toolbar bottom"><?= $block->getPagerHtml() ?></div>
    <?php endif ?>
<?php else : ?>
    <div class="message info empty"><span><?= $block->escapeHtml(__('You have placed no orders.')) ?></span></div>
<?php endif ?>




