<?php
/** @var \Nwuae\Customer\Block\Account\Dashboard $block */
?>

<!-- <div class="block events-box">
    <div class="events-title block-title"><strong><?php echo __('Upcoming Events') ?></strong></div>
    <div class="events-key">
        <div class="block-content row">
        <div class="key-regular_delivery col-sm-2"><span class="event-box"><?php echo __('Regular Delivery') ?></span></div>
        <div class="key-additional_delivery col-sm-2"><span class="event-box"><?php echo __('Additional Delivery') ?></span></div>
        <div class="key-sanitization_service col-sm-2"><span class="event-box"><?php echo __('Sanitization Service') ?></span></div>
        <div class="key-technical_intervention col-sm-2"><span class="event-box"><?php echo __('Technical Intervention') ?></span></div>
        <div class="key-cancelled_order col-sm-2"><span class="event-box"><?php echo __('Cancelled Order') ?></span></div>
    </div></div>
    <div id="events-calendar-loading" style="display:none;"><img src="<?php echo $this->getViewFileUrl('images/spinner.gif') ?>"></div>

</div>

<script type="text/javascript">
    require([
        'jquery',
        'cevents'
    ], function ($) {
        $(".events-calendar").EventsCalendar('<?php echo $block->getEventsUrl() ?>', '<?php echo ('Past Events') ?>', '<?php echo ('Upcoming Events') ?>');
    });
</script> -->


<div class="events block events-box">
    <div class="block-title"><strong><?php echo __('Events') ?></strong></div>
    <div class="events-key row">
        <div class="key-regular_delivery col-sm-2"><span><?php echo __('Regular Delivery') ?></span></div>
        <div class="key-additional_delivery col-sm-2"><span><?php echo __('Additional Delivery') ?></span></div>
        <div class="key-sanitization_service col-sm-2"><span><?php echo __('Sanitization Service') ?></span></div>
        <div class="key-technical_intervention col-sm-2"><span><?php echo __('Technical Intervention') ?></span></div>
        <div class="key-cancelled_order col-sm-2"><span><?php echo __('Cancelled Order') ?></span></div>
    </div>
    <div id="events-calendar-loading" style="display:none;"><img src="<?php echo $this->getViewFileUrl('images/spinner.gif') ?>"></div>
    </div>
<div class="block events-calendar ">
</div>

<script type="text/javascript">
    require([ 'jquery', 'jquery/ui','cevents'], function($){
        $(document).on("click",".events-calendar-previous", function() {
            var month = $(this).data('month');
            var year = $(this).data('year');
            var eventsurl = $(this).data('eventsurl');
            $(".events-calendar-month").getCalendar(month, year,eventsurl);
        });
        $(document).on("click",".events-calendar-next", function() {
            var month = $(this).data('month');
            var year = $(this).data('year');
            var eventsurl = $(this).data('eventsurl');
            $(".events-calendar-month").getCalendar(month, year,eventsurl);
        });
    });
</script>

<script type="text/javascript">
    require([
        'jquery',
        'cevents'
    ], function ($) {
        //$(".events-calendar").EventsCalendar('<?php echo $block->getEventsUrl() ?>', '<?php echo ('Past Events') ?>', '<?php echo ('Upcoming Events') ?>');
    });
</script>