<?php
/* @var $_helper Nwuae\Customer\Helper\Data */
$_helper = $this->helper('Nwuae\Customer\Helper\Data');
$sessionAcwAddressId = $_helper->getSessionAcwaddressId();

?>
<div class="dashboard">
    
        
        <?php
        echo $this->getLayout()->createBlock('Nwuae\Customer\Block\Account\Dashboard')->setTemplate('Magento_Customer::account/dashboard/nextdeliverydate.phtml')->toHtml();
        echo $this->getLayout()->createBlock('Nwuae\Customer\Block\Account\Dashboard')->setTemplate('Magento_Customer::account/dashboard/events.phtml')->toHtml();
        echo $this->getLayout()->createBlock('Nwuae\Customer\Block\Account\Dashboard')->setTemplate('Magento_Customer::account/dashboard/events/calendar.phtml')->toHtml();
     ?>
</div>
<script type="text/javascript">
    require([ 'jquery', 'jquery/ui', 'cevents'], function($){
        $('#acw_address_id').change(function(){
            var id= $('#acw_address_id option:selected').val();
            //var url = <?//= $block->getPopupUrl() ?>//+ id;
            $(".dashboard").getSelectedAcwAddress('<?php echo $this->getUrl('customer/account/postdata') ?>', id);
        });
    });
</script>
