<div id="map">&nbsp;</div>
<div class="map-info">
<ul>
<li>
<h4 class="m-pink"><a onclick="window.open(this.href, '', 'width=600,height=600,left=300,top=200,location=no,status=yes,scrollbars=yes,resizable=yes').focus(); return false;" href="http://www.google.com/maps/place/26.209537, 50.540766" target="_blank" rel="external">Nestlé Waters Egypt S.A.E</a></h4>
<p>5 Anqara Street, Cairo<br /> Complex building, Bureau 2,<br /> 5th floor, Sheraton,<br /> Cairo,Egypt</p>
</li>
<!-- <li>
<h4 class="m-pink"><a onclick="window.open(this.href, '', 'width=600,height=600,left=300,top=200,location=no,status=yes,scrollbars=yes,resizable=yes').focus(); return false;" href="http://www.google.com/maps/place/24.352049, 54.490585" target="_blank" rel="external">Nestlé Waters Factory H & O LLC</a></h4>
<p>Plot No.131SR50,<br /> ICAD lll, <br />Musaffah, Abudhabi</p>
</li>
<li>
<h4 class="m-pink"><a onclick="window.open(this.href, '', 'width=600,height=600,left=300,top=200,location=no,status=yes,scrollbars=yes,resizable=yes').focus(); return false;" href="http://www.google.com/maps/place/25.308494, 55.382017" target="_blank" rel="external"> Sharjah Warehouse</a></h4>
<p>Industrial Area 7</p>
</li>
<li>
<h4 class="m-pink"><a onclick="window.open(this.href, '', 'width=600,height=600,left=300,top=200,location=no,status=yes,scrollbars=yes,resizable=yes').focus(); return false;" href="http://www.google.com/maps/place/25.120718, 55.224149" target="_blank" rel="external">Dubai Warehouse</a></h4>
<p>Street #17, Industrial area 3<br />Al Qouz</p>
</li> -->
</ul>
</div>
<?php //$helper = $this->helper('Nwuae\Contacts\Helper\Data'); ?>
<script type="text/javascript">// <![CDATA[
// Define your locations: HTML content for the info window, latitude, longitude
   var locations = [
      ['<strong>Al Musalla</strong>', 26.066700, 50.557701],
      ['<strong>Nestlé Waters Factory H & O LLC</strong>',24.348656, 54.489876],
      ['<strong>Sharjah Warehouse</strong>', 25.308494, 55.382017],
      ['<strong>Dubai Warehouse</strong>', 25.120718, 55.224149]
    ];
    
    var iconURLPrefix = '<?php echo $this->getBaseUrl(); ?>pub/media/contact-us/';

    var icons = [
      iconURLPrefix + 'p-map.png',
      iconURLPrefix + 'p-map.png',
      iconURLPrefix + 'b-map.png',
      iconURLPrefix + 'p-map.png',
      iconURLPrefix + 'p-map.png',
      iconURLPrefix + 'p-map.png',    
      iconURLPrefix + 'p-map.png'
    ]
    var iconsLength = icons.length;

    var map = new google.maps.Map(document.getElementById('map'), {
      zoom: 10,
      //center: new google.maps.LatLng(26.066700, 50.557701),
      center: new google.maps.LatLng(30.0596185,31.1884234),
      mapTypeId: google.maps.MapTypeId.ROADMAP,
      mapTypeControl: false,
      streetViewControl: false,
      panControl: false,
      zoomControlOptions: {
         position: google.maps.ControlPosition.LEFT_BOTTOM
      }
    });

    var infowindow = new google.maps.InfoWindow({
      maxWidth: 160
    });

    var markers = new Array();
    
    var iconCounter = 0;
    
    // Add the markers and infowindows to the map
    for (var i = 0; i < locations.length; i++) {  
      var marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        icon: icons[iconCounter]
      });

      markers.push(marker);

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent(locations[i][0]);
          infowindow.open(map, marker);
       }
     })(marker, i));
      
      iconCounter++;
      // We only have a limited number of possible icon colors, so we may have to restart the counter
      if(iconCounter >= iconsLength) {
        iconCounter = 0;
      }
    }

    function autoCenter() {
      //  Create a new viewpoint bound
      var bounds = new google.maps.LatLngBounds();
      //  Go through each...
      for (var i = 0; i < markers.length; i++) {  
                bounds.extend(markers[i].position);
      }
      //  Fit these bounds to the map
      map.fitBounds(bounds);
    }
// ]]></script>
