<?php
$objectManager = \Magento\Framework\App\ObjectManager::getInstance();
$customerSession = $objectManager->create('Magento\Customer\Model\Session');
$customer_type_id = $customerSession->getTypeId();
$npl = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('customertype/customer_contact_type/npl');
$am = $objectManager->get('Magento\Framework\App\Config\ScopeConfigInterface')->getValue('customertype/customer_contact_type/am');
?>
<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */

/** @var \Magento\Contact\Block\ContactForm $block */


?>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyByWe4ooebDRHR9hKdviweoxfBUvJjUpBQ"></script>
<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
        <form class="form contact"
              action="<?= $block->escapeUrl($block->getFormAction()) ?>"
              id="contact-form"
              method="post"
              data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
              data-mage-init='{"validation":{}}'>
            <fieldset class="fieldset">
                <!-- <legend class="legend"><span><?= $block->escapeHtml(__('Write Us')) ?></span></legend><br /> -->
               <!--  <div class="field note no-label"><?= $block->escapeHtml(__(' * Required Fields')) ?></div> -->
                <div class="row">
                    <div class="col-sm-6">
                        <div class="field name required">
                            <!-- <label class="label" for="name"><span><?= $block->escapeHtml(__('Name')) ?></span></label> -->
                            <div class="control">
                                <input name="name" id="name" title="<?= $block->escapeHtmlAttr(__('Name')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('name') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserName()) ?>" class="input-text" type="text" data-validate="{required:true}"  placeholder="* Name"/>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="field email required">
                            <!-- <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label> -->
                            <div class="control">
                                <input name="email" id="email" title="<?= $block->escapeHtmlAttr(__('Email')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('email') ?: $this->helper(\Magento\Contact\Helper\Data::class)->getUserEmail()) ?>" class="input-text" type="email" data-validate="{required:true, 'validate-email':true}" placeholder="* Email"/>
                            </div>
                        </div>
                    </div>
                </div>
                
                
                <div class="field telephone">
                    <!-- <label class="label" for="telephone"><span><?= $block->escapeHtml(__('Phone Number')) ?></span></label> -->
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                           <!--  <div class="left_phone">
                                <div class="input-box">
                                <input name="telephone_code" id="telephone_code" title="<?= $block->escapeHtmlAttr(__('Telephone Code')) ?>" value="971" class="input-text" type="tel" readonly placeholder="<?= $block->escapeHtmlAttr(__('Telephone Code')) ?>" />
                               </div>
                            </div> -->
                             <div class="right_phone">
                                <div class="control">
                                    <input name="telephone" id="telephone" placeholder="<?= $block->escapeHtml(__('* Telephone (Eg. 48995555)')) ?>" title="<?= $block->escapeHtmlAttr(__('Phone Number')) ?>" value="<?= $block->escapeHtmlAttr($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('telephone')) ?>" data-validate="{required:true}" class="input-text" type="text" />
                                </div>
                            </div>

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                            <div class="field subject">
                            <!-- <label class="label" for="email"><span><?= $block->escapeHtml(__('Email')) ?></span></label> -->
                            <div class="control">
                                <input name="subject" id="subject" title="<?= $block->escapeHtmlAttr(__('Subject')) ?>"  class="input-text" type="subject"  placeholder="<?= $block->escapeHtml(__('Subject')) ?>"/>
                            </div>
                        </div>
                        </div>
                    </div>
                     
                    
                </div>
                <div class="field comment required">
                   <!--  <label class="label" for="comment"><span><?= $block->escapeHtml(__('Your Comment')) ?></span></label> -->
                    <div class="control">
                        <textarea name="comment" placeholder="*<?= $block->escapeHtml(__('Message')) ?>" id="comment" title="<?= $block->escapeHtmlAttr(__('Your Comment')) ?>" class="input-text" cols="5" rows="3" data-validate="{required:true}"><?= $block->escapeHtml($this->helper(\Magento\Contact\Helper\Data::class)->getPostValue('comment')) ?></textarea>
                    </div>
                </div>
                <?= $block->getChildHtml('form.additional.info') ?>
            </fieldset>
            <div class="actions-toolbar">
                <div class="primary">
                    <input type="hidden" name="hideit" id="hideit" value="" />
                    <button type="submit" title="<?= $block->escapeHtmlAttr(__('Submit')) ?>" class="action submit primary blue-btn">
                        <span><?= $block->escapeHtml(__('Submit')) ?></span>
                    </button>
                </div>
            </div>
        </form>
         <div class="contact_us_additional">
        <?php 
            echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact_us_additional')->toHtml();
        ?>
        </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
       
        <div class="contact_us_map">
        <?php 
            echo $this->getLayout()->createBlock('Magento\Cms\Block\Block')->setBlockId('contact_us_map')->toHtml();
        ?>
        </div>
    </div>
</div>

<script type="text/javascript">
    require([ 'jquery', 'jquery/ui'], function($){ $(document).ready(function($) {
        var type_id = '<?php echo $customer_type_id; ?>';
        var npl = '<?php echo $npl; ?>';
        var am = '<?php echo $am; ?>';
        if(type_id == 1){
            $(".customer-type-am").text(am);
            $(".customer-type-npl").hide();
            $(".hide").hide();
        }else if(type_id == 2){
            $(".customer-type-npl").text(npl);
            $(".customer-type-am").hide();
            $(".hide").hide();
            
        }
}); });</script>